In [1]:
def reverse_string_slicing(input_str):
    return input_str[::-1]

# Example usage:
original_str = "Hello, World!"
reversed_str = reverse_string_slicing(original_str)
print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [2]:
def reverse_string_loop(input_str):
    reversed_str = ""
    for char in input_str:
        reversed_str = char + reversed_str
    return reversed_str

# Example usage:
original_str = "Hello, World!"
reversed_str = reverse_string_loop(original_str)
print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [3]:
def reverse_string_join(input_str):
    return ''.join(reversed(input_str))

# Example usage:
original_str = "Hello, World!"
reversed_str = reverse_string_join(original_str)
print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [4]:
def reverse_string_recursive(input_str):
    if len(input_str) == 0:
        return input_str
    else:
        return reverse_string_recursive(input_str[1:]) + input_str[0]

# Example usage:
original_str = "Hello, World!"
reversed_str = reverse_string_recursive(original_str)
print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [6]:
def reverse_string(string):
    new_string = " "
    for i in range(len(string)-1,-1,-1):
        new_string += string[i]
        return new_string
    
original_str = "Hello, World!"
reversed_str = reverse_string_recursive(original_str)
print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [9]:
def reverse_string(string):
    return string[::-1]
reverse = reverse_string("Sachin Wandre")
reverse

'erdnaW nihcaS'

In [10]:
def reverse_string(string):
    new_string = ''
    for char in string:
        new_string = char + new_string
    return new_string
reverse = reverse_string("Ashwini Wandre")
reverse

'erdnaW iniwhsA'

In [11]:
def reverse_string(string):
    new_string = ''
    
    for i in range(len(string)-1,-1,-1):
        new_string = new_string + string[i]
    return new_string

reverse = reverse_string("Krishnali Wandre")
reverse

'erdnaW ilanhsirK'

In [14]:
def reverse_string(string):
    return "".join(reversed(string))

reverse = reverse_string("Wandre Santosh")
reverse

'hsotnaS erdnaW'

In [15]:
def reverse_string(string):
    if len(string) == 0:
        return string
    else:
        return reverse_string(string[1:]) + string[0]

reverse = reverse_string("Wandre Family")
reverse

'ylimaF erdnaW'

In [18]:
def reverse_string(string):
    list1 = string.split()
    return " ".join(list1[::-1])

reverse = reverse_string("Wandre Family")
reverse

'Family Wandre'

In [14]:
def reverse_string(string):
    list1 = string.split()[::-1]
    return " ".join(list1)

reverse = reverse_string("Wandre Family")
reverse

'Family Wandre'

In [27]:
string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
# print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str = reverse + new_str
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " " + new_str)

tsitneics ataD ma I dna AIDNI evoL I

In [30]:
string = "I Love INDIA and I am Data scientist"

new_str = " "
s1 = string.split()[::-1]
for s in s1:
    new_str = new_str + " "+ s[::-1]
new_str

'  tsitneics ataD ma I dna AIDNI evoL I'

In [29]:
string = "I Love INDIA and I am Data scientist"

new_str = " "
s1 = string.split()
for s in s1:
    new_str = new_str + " "+ s[::-1]
new_str

'  I evoL AIDNI dna I ma ataD tsitneics'

In [28]:
string = "I Love INDIA and I am Data scientist"

word = " "
reverse = " "
new_string = " "

s1 = string.split()[-1]

for s in string :
    if s != " ":
        word = word + s
    else:
        reverse = word[::-1]
        new_string = new_string + reverse
        word = " "
print(new_string + s1[::-1])

 I evoL AIDNI dna I ma ataD tsitneics

In [15]:
string = "I Love INDIA and I am Data scientist"

list1 = []

list1 = string.split()

list1.reverse()
print(list1)

reverse_string = " ".join(list1)
reverse_string

['scientist', 'Data', 'am', 'I', 'and', 'INDIA', 'Love', 'I']

'scientist Data am I and INDIA Love I'

In [1]:
string = 'sachin wandre'
string.title()

'Sachin Wandre'

In [2]:
string.capitalize()

'Sachin wandre'

In [4]:
string.startswith('s')

True

In [5]:
string = '45thankyou'
string.isalnum()

True

In [6]:
string.isalpha()

False

In [7]:
L = [5,23,15,30,45,60,10,35,70]
[n**2 for n in L]

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [8]:
output = lambda list1 : [n**2 for n in list1]
output(L)

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [9]:
list(map(lambda x : x**2,L))

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [10]:
[n**2 for n in L if n % 5 == 0]

[25, 225, 900, 2025, 3600, 100, 1225, 4900]

In [12]:
output = lambda list1 : [n**2 for n in list1 if n%5 == 0]
output(L)

[25, 225, 900, 2025, 3600, 100, 1225, 4900]

In [13]:
list(filter(lambda x : x%5 ==0,L))

[5, 15, 30, 45, 60, 10, 35, 70]