### Python program to sort Python Dictionaries by Keys

In [1]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
sort_dict = {}

for key in sorted(dict1.keys()):
    sort_dict[key] = dict1[key]
print(sort_dict)

{1: 'Sachin', 2: 'Snehal', 3: 'Santosh', 4: 'Sanjiwani', 5: 'Shweta', 6: 'Sujit'}

In [2]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
d = sorted(dict1.items(),key=lambda x:x[0])
d

[(1, 'Sachin'),
 (2, 'Snehal'),
 (3, 'Santosh'),
 (4, 'Sanjiwani'),
 (5, 'Shweta'),
 (6, 'Sujit')]

### Python program to sort Python Dictionaries by Values

In [3]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
sort_dict = {}

for value in sorted(dict1.values()):
    for key in dict1:
        if dict1[key] == value:
            sort_dict.update({key:value})
print(sort_dict)

{1: 'Sachin', 4: 'Sanjiwani', 3: 'Santosh', 5: 'Shweta', 2: 'Snehal', 6: 'Sujit'}

In [4]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
d = sorted(dict1.items(),key=lambda x:x[1])
d

[(1, 'Sachin'),
 (4, 'Sanjiwani'),
 (3, 'Santosh'),
 (5, 'Shweta'),
 (2, 'Snehal'),
 (6, 'Sujit')]

### Patterns

In [5]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=' ')
    print("\n")

*

* *

* * *

* * * *

In [6]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end=' ')
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [7]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print("\n")

1

1 2

1 2 3

1 2 3 4

In [8]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(1,j):
        print(k,end=' ')
    print("\n")

1

1 2 1

1 2 3 1 2

1 2 3 4 1 2 3

### Print given number is prime or not

In [9]:
# number = int(input("Enter the number"))
number = 15
for n in range(2,number):
    if number % 2 == 0:
        print(f"Given number {number} is not prime")
        break;
else:
    print(f"Given number {number} is prime number")

Given number 15 is prime number

### Print prime numbers from given range

In [1]:
start = int(input("Enter the start number "))
end = int(input("Enter the end number "))
print(f"Prime numbers from {start} to {end} are ")
for number in range(start,end):
    for n in range(2,number):
        if number % n == 0:
            break
    else:
        print(number)

Enter the start number 11
Enter the end number 20
Prime numbers from 11 to 20 are
11
13
17
19

### List Comprehension

In [11]:
list1 = [n for n in range(1,10)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Print the number which are divisible by 5

In [12]:
list2 = [n for n in range(1,30) if n % 5 == 0]
list2

[5, 10, 15, 20, 25]

### Print the number which are divisible by 5 and 7

In [13]:
list3 = [n for n in range(1,50) if n % 5 == 0 if n % 7 == 0]
list3

[35]

In [14]:
list3 = [n for n in range(1,50) if n % 5 == 0 and n % 7 == 0]
list3

[35]

### Print the number which are divisible by 5 or 7

In [15]:
list3 = [n for n in range(1,50) if n % 5 == 0 or n % 7 == 0]
list3

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49]

### Make square of given list

In [16]:
list4 = [2,3,4,5,6,7,8,9]
list5 = [n**2 for n in list4]
list5

[4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
my_list = [2, 3, 5, 7, 11]
squared_list = [x**2 for x in my_list if x%2 != 0] # list comprehension
# output => [9 , 25 , 49 , 121]
squared_dict = {x:x**2 for x in my_list if x%2 != 0}
print(squared_list)
print(squared_dict)

[9, 25, 49, 121]
{3: 9, 5: 25, 7: 49, 11: 121}

### Find out fruits starts with a

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[fruit for fruit in fruits if fruit.startswith('a') ]

['apple']

### Fruits containing a letter

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[fruit for fruit in fruits if 'a' in fruit]

['apple', 'banana', 'mango']

### Common fruits from both lists

In [20]:
basket = ["apple",'guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana','guava']
[fruit for fruit in fruits if fruit in basket]

['apple', 'banana', 'cherry']

### List multiplication

In [21]:
l1 = [1,2,3,4,5]
l2 = [5,3,4,8]

[x*y for x in l1 for y in l2]

[5, 3, 4, 8, 10, 6, 8, 16, 15, 9, 12, 24, 20, 12, 16, 32, 25, 15, 20, 40]

### Print 2X2 matrix using list comprehension

In [22]:
[[i*j for i in range(1,4)] for j in range(1,5)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12]]

###  Write a program to add items of 2 lists indexwise

In [23]:
L1 = [1,2,3,4,33,44]
L2 = [-11,-20,-63,4,7,22]

[i+j for i,j in zip(L1,L2)]

[-10, -18, -60, 8, 40, 66]

In [24]:
list(zip(L1,L2))

[(1, -11), (2, -20), (3, -63), (4, 4), (33, 7), (44, 22)]

### Write a program to replace an item with a different item if found in the list

In [25]:
L = [1,2,3,4,5,311]
for number in L:
    if number == 5:
        L[L.index(number)] = 700
        
L

[1, 2, 3, 4, 700, 311]

In [26]:
L = [1,2,3,4,5,311]
# replace 3 with 300
index = L.index(5)
L.pop(index)
L.insert(index,300)
L

[1, 2, 3, 4, 300, 311]

In [27]:
L = [1,2,3,4,5,311]
# replace 3 with 300
index = L.index(5)
L[index] = 800
L

[1, 2, 3, 4, 800, 311]

### Write a program that can convert a 2D list to 1D list

In [28]:
List = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for sublist in List:
    for number in sublist:
        print(number)

1
2
3
4
5
6
7
8
9

In [29]:
[number for sublist in List for number in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Write a program to remove duplicate items from a list

In [30]:
L = [1,2,1,2,3,4,5,3,4]
temp_list = []

for number in L:
    if number  not in temp_list:
        temp_list.append(number)
print(temp_list)

[1, 2, 3, 4, 5]

In [31]:
L = [1,2,1,2,3,4,5,3,4]
list(set(L))

[1, 2, 3, 4, 5]

### Write a program to check if a list is in ascending order or not

In [3]:
L = [1, 2, 3, 5, 7, 8]

sorted_flag = True

for i in range(1, len(L)):
    if L[i] < L[i - 1]:
        sorted_flag = False
        break

if sorted_flag:
    print("List is in ascending order.")
else:
    print("List is not in ascending order.")

List is not in ascending order.

In [8]:
L = [1, 2, 3, 15, 7, 8]

sorted_flag = True

for i in range(1, len(L)):
    if L[i] < L[i - 1]:
        sorted_flag = False
        break

if sorted_flag:
    print("List is in ascending order.")
else:
    print("List is not in ascending order.")

List is not in ascending order.

In [33]:
L = [1, 2, 3, 5, 7, 8]
L == sorted(L)

True

In [34]:
def is_ascending_order(arr):
    for i in range(len(arr) - 1):
        if arr[i] > arr[i + 1]:
            return False
    return True

# Example usage:
my_list = [1, 2, 73, 4, 5]
if is_ascending_order(my_list):
    print("The list is in ascending order.")
else:
    print("The list is not in ascending order.")

The list is not in ascending order.

### Print tuple with number and its square

In [35]:
L1 = [1,2,3,4,5,6,7,8,9]
[(i,i**2) for i in L1]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [36]:
{i:i**2 for i in L1}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Sort the given list

In [37]:
L1 = [4,55,1,77,3,2,88,77,44,22,11]

for i in range(len(L1)):
    for j in range(0,len(L1)-1-i):
        if L1[j] <= L1[j +1]:
            L1[j], L1[j+1] = L1[j+1],L1[j]
print(L1)

[88, 77, 77, 55, 44, 22, 11, 4, 3, 2, 1]

### Find give number is armstrong number or not in python

In [38]:
number = 124
temp = number
cube = 0

while number > 0:
    rem = number % 10
    cube += rem**3
    number = number // 10

if cube == temp:
    print(f'Given number {temp} is armstrong number')
else:
    print(f'Given number {temp} is not armstrong number')

Given number 124 is not armstrong number

In [39]:
given_number = 153
temp = str(given_number)

cube = 0

for number in temp:
    
    cube += int(number) **3
    
if cube == given_number:
    print(f'Given number {given_number} is armstrong number')
else:
    print(f'Given number {given_number} is not armstrong number')

Given number 153 is armstrong number

### Reverse a given list

In [40]:
L1 = [4,55,1,77,3,2,88,77,44,22,11]
temp_list = []

for index in range(len(L1)-1,-1,-1):
    temp_list.append(L1[index])
    
print(temp_list)

[11, 22, 44, 77, 88, 2, 3, 77, 1, 55, 4]

In [41]:
L1 = [4,55,1,77,3,2,88,77,44,22,11]
L1.reverse()
L1

[11, 22, 44, 77, 88, 2, 3, 77, 1, 55, 4]

In [42]:
# Reverse a list in same list
list1 = [22,44,55,33,88,99,77]

for i in range(len(list1)//2):
    list1[i],list1[len(list1)-1-i] =  list1[len(list1)-1-i],list1[i]
    
print(list1)

[77, 99, 88, 33, 55, 44, 22]

### Find out the number divisible by 5 and 7

In [43]:
L = [5,23,15,30,45,60,10,35,70]
[number for number in L if number%5==0 and number%7==0]

[35, 70]

In [2]:
L = [5,23,15,30,45,60,10,35,70]
output = lambda list2 : [number for number in list2 if number%5==0 and number%7==0]
output(L)

[35, 70]

In [45]:
list(filter(lambda number: number%5==0 and number%7==0,L))

[35, 70]

In [46]:
list(filter(lambda number : number%5==0,L))

[5, 15, 30, 45, 60, 10, 35, 70]

### Make square of all numbers from given list

In [47]:
L = [5,23,15,30,45,60,10,35,70]
[number**2 for number in L]

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [48]:
L = [5,23,15,30,45,60,10,35,70]
square = lambda L : [number **2 for number in L]
square(L)

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [49]:
L = [5,23,15,30,45,60,10,35,70]
list(map(lambda number : number**2,L))

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

### Decorator function

In [50]:
# Define a decorator function
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()  # Call the original function
        print("Something is happening after the function is called.")
    return wrapper

# Use the decorator to modify a function
@my_decorator
def say_hello():
    print("Hello!")

# Call the decorated function
say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [51]:
# decorator function to capitalize names
def names_decorator(function):
    def wrapper(arg1, arg2):
        arg1 = arg1.capitalize()
        arg2 = arg2.capitalize()
        string_hello = function(arg1, arg2)
        return string_hello
    return wrapper

@names_decorator
def say_hello(name1, name2):
    return 'Hello ' + name1 + '! Hello ' + name2 + '!'
say_hello('sara', 'ansh')

'Hello Sara! Hello Ansh!'

### Shallow copy

Shallow Copy:
A shallow copy creates a new object, but it only copies the references to the objects contained within the original object, rather than recursively copying the entire contents. This means that changes made to objects inside the copied object will affect both the original and the copy if those objects are mutable.

You can create a shallow copy using the copy.copy() function from the copy module.

In [52]:
import copy

original_list = [[1, 2, 3], [4, 5, 6]]
shallow_copy_list = copy.copy(original_list)

# Modify an element inside the copied list
shallow_copy_list[0][0] = 100

# Check the original list
print(original_list)  # Output: [[100, 2, 3], [4, 5, 6]]

[[100, 2, 3], [4, 5, 6]]

### Deep copy

Deep Copy:
A deep copy creates a completely independent copy of the original object, including all nested objects. Changes made to objects inside the copied object will not affect the original object.

You can create a deep copy using the copy.deepcopy() function from the copy module.

In [3]:
import copy

original_list = [[1, 2, 3], [4, 5, 6]]
deep_copy_list = copy.deepcopy(original_list)

# Modify an element inside the copied list
deep_copy_list[0][0] = 100

# Check the original list
print(original_list)  # Output: [[1, 2, 3], [4, 5, 6]]
print(deep_copy_list)

[[1, 2, 3], [4, 5, 6]]
[[100, 2, 3], [4, 5, 6]]

### Functools reduce

In [4]:
# In Python, the reduce function is part of the functools module and is used for aggregating a sequence (e.g., a list) 
# of values into a single cumulative result. It repeatedly applies a given function to the elements of the sequence, 
# accumulating the result.

import functools

# Define a function to multiply two numbers
def multiply(x, y):
    return x * y

# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use the reduce function to find the product of all elements in the list
result = functools.reduce(multiply, numbers)

print(result)  # Output: 120 (1 * 2 * 3 * 4 * 5)

120

### any() all()

In [55]:
# Example 1: Using any() with a list of boolean values
bool_values = [True, False, True, False]
result = any(bool_values)
print(result)  # Output: True (At least one True value is present)

# Example 2: Using any() with a list of numbers
numbers = [0, -1, 4, 7]
result = any(numbers)
print(result)  # Output: True (At least one non-zero number is present)

# Example 3: Using any() with an empty list
empty_list = []
result = any(empty_list)
print(result)  # Output: False (The iterable is empty)

True
True
False

In [56]:
bool_values = [True, False, True, False]
result = all(bool_values)
print(result)  # Output: False (At least one True value is present)
# Example 2: Using any() with a list of numbers
numbers = [0, -1, 4, 7]
result = all(numbers)
print(result)  # Output: False (At least one non-zero number is present)

# Example 3: Using any() with an empty list
empty_list = []
result = all(empty_list)
print(result)  # Output: True (The iterable is empty)

False
False
True

In [57]:
import re
import string
from bs4 import BeautifulSoup
from nltk.corpus import stopwords

def process_text(text):
    # Remove HTML tags using BeautifulSoup
    text = BeautifulSoup(text, 'html.parser').get_text()
    
    # Remove numbers using regular expression
    text = re.sub(r'\d', '', text)
    
    # Remove special characters using regular expression
    text = re.sub(r'[' + re.escape(string.punctuation) + ']', '', text)
    
    # Remove multiple spaces and tabs
    text = re.sub(r'\s+', ' ', text)
    
    # Remove words with length less than 3 characters
    words = text.split()
    text = ' '.join([word for word in words if len(word) >= 3])
    
    # Remove common English stopwords
    stop_words = set(stopwords.words('english'))
    words = text.split()
    text = ' '.join([word for word in words if word.lower() not in stop_words])
    
    # Remove words containing numbers
    words = text.split()
    text = ' '.join([word for word in words if not any(char.isdigit() for char in word)])
    
    # Remove multiple lines using regular expression
    text = re.sub(r'\n+', '\n', text)
    
    return text

# Example usage:
input_text = "Sachin This is an <b>example</b> text with 123 numbers and some        <a href='#'>HTML tags</a>.\nIt has special characters, stopwords, and short words 67890 ^&%$#."
processed_text = process_text(input_text)
print(processed_text)

Sachin example text numbers HTML tags special characters stopwords short words

In [58]:
import re
import string
from bs4 import BeautifulSoup
from nltk.corpus import stopwords

def remove_numbers(text):
    # Remove numbers using regular expression
    return re.sub(r'\d', '', text)

def remove_html_tags(text):
    # Remove HTML tags using BeautifulSoup
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

def remove_special_characters(text):
    # Remove special characters using regular expression
    return re.sub(r'[' + re.escape(string.punctuation) + ']', '', text)

def remove_multiple_spaces_and_tabs(text):
    # Replace multiple spaces and tabs with a single space
    return re.sub(r'\s+', ' ', text)

def remove_words_less_than_3_chars(text):
    # Remove words with a length less than 3 characters
    words = text.split()
    filtered_words = [word for word in words if len(word) >= 3]
    return ' '.join(filtered_words)

def remove_stopwords(text):
    # Remove common English stopwords
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

def remove_words_with_numbers(text):
    # Remove words containing numbers
    words = text.split()
    filtered_words = [word for word in words if not any(char.isdigit() for char in word)]
    return ' '.join(filtered_words)

def remove_multiple_lines(text):
    # Remove multiple lines using regular expression
    return re.sub(r'\n+', '\n', text)

def apply_text_processing(text):
    text = remove_numbers(text)
    text = remove_html_tags(text)
    text = remove_special_characters(text)
    text = remove_multiple_spaces_and_tabs(text)
    text = remove_words_less_than_3_chars(text)
    text = remove_stopwords(text)
    text = remove_words_with_numbers(text)
    text = remove_multiple_lines(text)
    return text

# Example usage:
input_text = "Sachin             This is an <b>example</b> text with 123 numbers and some <a href='#'>HTML tags</a>.\nIt has special characters, stopwords, and short words 67890 ^&%$#."
processed_text = apply_text_processing(input_text)
print(processed_text)

Sachin example text numbers HTML tags special characters stopwords short words

## Fibonacci number

In [59]:
# Function for nth fibonacci number 
# Write a program to print fibonacci series upto n terms in python
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [60]:
# Find out the fabonacci series numbers which are less than 70

less_than_number = 70

number1 = 0
number2 = 1
number3 = 0
print('Fibonacci series:', number1, number2, end=" ")

while number3 < less_than_number:
    number3 = number1 + number2
    if number3 < less_than_number:
        print(number3, end=" ")
    number1 = number2
    number2 = number3

Fibonacci series: 0 1 1 2 3 5 8 13 21 34 55

In [61]:
l1 = [1,2,3]
l2 = [2,3,1]
l1==l2

False

In [1]:
# Occurance of each character
string = "aabxbbcccxdddddeeex"
temp = []
for s in string:
    if s not in temp:
        temp.append(s)
        print(s,"is occured",string.count(s))

a is occured 2
b is occured 3
x is occured 3
c is occured 3
d is occured 5
e is occured 3

In [2]:
# input = "I Love INDIA and I am Data scientist"
# output = " I evoL AIDNI dna I ma ataD  tsitneics"

string = "I Love INDIA and I am Data scientist"

new = " "
word = " "
reverse = " "
s = string.split()[-1]

for i in string:
    if i != " ":
        word = word + i
    else:
        reverse = word[::-1]
        #new =  reverse + new
        new =  new + reverse 
        word = " "
        
print(new + " "+ s[::-1])

 I evoL AIDNI dna I ma ataD  tsitneics

In [3]:
# input = "I Love INDIA and I am Data scientist"
# output = "tsitneics ataD ma I dna AIDNI evoL I"

string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
#print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str = reverse + new_str
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " "+ new_str)

tsitneics ataD ma I dna AIDNI evoL I

In [4]:
input_string = "Sachin Wandre"

# Splitting the string by space and reversing the order of split parts
split_parts = input_string.split()
reversed_parts = split_parts[::-1]

# Joining the reversed parts to form the output string
output_string = " ".join(reversed_parts)

print(output_string)

Wandre Sachin

In [18]:
input_string = "Sachin Narayan Wandre"

temp = " "
word = " "
last = input_string.split()
#print(s[-1])
for s in input_string:
    if s != " ":
        word = word + s
    else:
        temp = word + temp
        word = " "
        
print(last[-1] + "" +temp)

Wandre Narayan Sachin

In [20]:
s = "Sachin"
temp = " "

for i in s:
    temp = i + temp
print(temp)

nihcaS