In [2]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
sort_dict = {}

for key in sorted(dict1.keys()):
    sort_dict[key] = dict1[key]
    
print(sort_dict)

{1: 'Sachin', 2: 'Snehal', 3: 'Santosh', 4: 'Sanjiwani', 5: 'Shweta', 6: 'Sujit'}

In [3]:
d = sorted(dict1.items(),key=lambda x : x[0])
d

[(1, 'Sachin'),
 (2, 'Snehal'),
 (3, 'Santosh'),
 (4, 'Sanjiwani'),
 (5, 'Shweta'),
 (6, 'Sujit')]

In [4]:
d = sorted(dict1.items(),key=lambda x : x[1])
d

[(1, 'Sachin'),
 (4, 'Sanjiwani'),
 (3, 'Santosh'),
 (5, 'Shweta'),
 (2, 'Snehal'),
 (6, 'Sujit')]

In [5]:
dict1 = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
sort_dict = {}

for value in sorted(dict1.values()):
    for key in dict1.keys():
        if dict1[key] == value:
            sort_dict.update({key:value})
            
            
print(sort_dict)

{1: 'Sachin', 4: 'Sanjiwani', 3: 'Santosh', 5: 'Shweta', 2: 'Snehal', 6: 'Sujit'}

In [12]:
no = 72

for i in range(2,no):
    if no % i == 0:
        print("not prime")
        break
else:
    print("is prime")

not prime

In [13]:
for i in range(10,100):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [14]:
[n for n in range(1,20) if n %5 == 0]

[5, 10, 15]

In [15]:
[n for n in range(3,78) if n%5 == 0 and n%7 == 0]

[35, 70]

In [19]:
number = 125
temp = number 
cube = 0

while number > 0:
    reminder = number % 10
    cube = cube + reminder**3
    number = number // 10
    
if temp == cube:
    print('yes')
else:
    print('no')

no

In [25]:
number = 153
temp = str(number)
cube = 0
for i in temp:
    cube = cube + int(i)**3
    
if number == cube:
    print('yes')
else:
    print('No')

yes

In [27]:
list1 = [22,44,55,33,88,99,77,333]

for i in range(len(list1)//2):
    list1[i],list1[len(list1)-1-i] = list1[len(list1)-1-i], list1[i]
    
list1

[333, 77, 99, 88, 33, 55, 44, 22]

In [31]:
def uppercase(function):
    def wrapper():
        fun = function()
        return fun.upper()        
    return wrapper
def splitchar(function):
    def wrapper():
        func = function()
        return func.split()
    return wrapper
@splitchar
@uppercase
def hello():
    return "hello world"

hello()

['HELLO', 'WORLD']

In [33]:
def capitle(function):
    def wrapper(name1,name2):
        name1 = name1.capitalize()
        name2 = name2.capitalize()
        string = function(name1,name2)
        return string
    return wrapper

@capitle
def hello(name1,name2):
    return 'Hello ' + name1 + " " + name2

hello('sachin','ashwini')

'Hello Sachin Ashwini'

In [34]:
n1,n2 = 0,1
print(n1,n2)
for i in range(2,10):
    n3 = n1+n2
    n1 = n2
    n2 = n3
    print(n3)

0 1
1
2
3
5
8
13
21
34

In [39]:
number = 80
n1 = 0
n2 = 1
n3 = 0

while n3 < number:
    n3 = n1+n2
    if n3 < number:
        print(n3)
    n1 = n2
    n2 = n3

1
2
3
5
8
13
21
34
55

In [ ]:
number = 80
n1 = 0
n2 = 1
n3 = 0

while n3 < number:
    n3 = n1+n2
        if n3 < number:
    print(n3)
    n1 = n2
    n2 = n3