In [1]:
l = [1,2,3,4,5,6,9]
if 3 in l:
    print("3 found")
else:
    print("not found")

3 found

In [2]:
l = [1,2,3,4,5,6,9]
if 33 not in l:
    print("33 not found")
else:
    print("found")

33 not found

In [3]:
a = 12
b = 12

if a is b:
    print("Both are same")
else:
    print("Not same")

Both are same

In [4]:
a = 12
b = 120

if a is not b:
    print("Both are different")
else:
    print("same")

Both are different

In [9]:
import random

random_number = random.randint(1,100)
print(random_number)

guess_number = int(input("Enter guess number"))
count = 0
while random_number != guess_number:
    count +=1
    
    if random_number < guess_number:
        print("Enter the number smaller than",guess_number)
    else:
        print("Enter the number greater than",guess_number)
    guess_number = int(input("Enter guess number"))
print("Your guess is correct at",count,"time")
print(f"Your guess is correct at {count} time")

48
Enter guess number50
Enter the number smaller than 50
Enter guess number45
Enter the number greater than 45
Enter guess number48
Your guess is correct at 2 time
Your guess is correct at 2 time

In [10]:
for number in range(1,100):
    if number % 8 == 0:
        print(number)

8
16
24
32
40
48
56
64
72
80
88
96

In [16]:
list(range(1,22))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [27]:
number = int(input("Enter the number\t "))
isprime = True
for n in range(2,number):
    if number % n == 0:
        isprime = False
        break
     
if isprime:
    print("Given number is prime")
else:
    print("Given number is not prime")

Enter the number	 5
Given number is prime

In [29]:
start = int(input("Enter start number"))
end = int(input("Enter end number"))

list1 = []

for number in range(start,end-1):
    for n in range(2,number):
        if number % n == 0:
            break
    else:
        list1.append(number)
print("List of prime number become = ", list1)

Enter start number10
Enter end number100
List of prime number become =  [11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [33]:
start = int(input("Enter start number\t"))
end = int(input("Enter end number\t"))

for number in range(start,end-1):
    for n in range(2,number):
        if number % n == 0:
            break
    else:
        print(number)

Enter start number	10
Enter end number	56
11
13
17
19
23
29
31
37
41
43
47
53

In [34]:
start = int(input("Enter start number\t"))
end = int(input("Enter end number\t"))

for number in range(start,end-1):
    if number > 1:
        for n in range(2,number):
            if number % n == 0:
                break
        else:
            print(number)

Enter start number	-99
Enter end number	15
2
3
5
7
11
13

In [1]:
[n for n in range(1,100) if n%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [4]:
[n for n in range(1,100) if n%5 == 0  if n%7==0]

[35, 70]

In [5]:
[n**2 for n in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
basket = ["apple",'guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana','guava']
[f for f in basket if f in my_fruits]

['apple', 'guava', 'banana']

In [7]:
[f for f in basket if f in my_fruits if f.startswith('a')]

['apple']

In [8]:
[[i+j for i in range(1,4)]for j in range(1,7)]

[[2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7], [6, 7, 8], [7, 8, 9]]

In [1]:
L = [(1,100),(3,300),(6,600),(2,200),(4,400),(8,800)]

sort = lambda list1:sorted(list1,key=lambda s:s[0])

sort(L)

[(1, 100), (2, 200), (3, 300), (4, 400), (6, 600), (8, 800)]

In [4]:
L = [(1,100),(3,290),(6,610),(6,220),(9,400),(8,800)]

sort = lambda list1:sorted(list1,key=lambda s:s[1])

sort(L)

[(1, 100), (6, 220), (3, 290), (9, 400), (6, 610), (8, 800)]

In [5]:
L = [(1,100),(3,290),(6,610),(6,220),(9,400),(8,800)]

sort = lambda list1:sorted(list1,key=lambda s:s[2])

sort(L)

IndexError: tuple index out of range

In [7]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sort = lambda dict1 : sorted(dict1.items(),key=lambda k : k[0])
sort(dict1)

[('Che', 55), ('Eng', 52), ('Hindi', 72), ('Math', 78), ('Phy', 68)]

In [9]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sort = lambda d : sorted(d.items(),key = lambda x : x[1])
sort(dict1)

[('Eng', 52), ('Che', 55), ('Phy', 68), ('Hindi', 72), ('Math', 78)]

In [10]:
list1 = [10,11,12,13,14,15]

sqr = lambda l : [n*n for n in l]
sqr(list1)

[100, 121, 144, 169, 196, 225]

In [12]:
list1 = [10,11,12,13,14,15]

output = lambda list1 : [n*n for n in list1 if n%2==0]
output(list1)

[100, 144, 196]

In [18]:
list1 = [10,11,12,13,14,15]

output = lambda list1 : [n*n for n in list1 if n%2 != 0 ]
output(list1)

[121, 169, 225]

In [19]:
L = [11,22,33,44,55,78,41,67,89,56]

(list(filter(lambda x : x > 30,L)))

[33, 44, 55, 78, 41, 67, 89, 56]

In [20]:
L = [11,22,33,44,55,78,41,67,89,56]

list(filter(lambda n : n <35,L))

[11, 22, 33]

In [21]:
L = [11,22,33,44,55,78,41,67,89,56]

list(filter(lambda n : n%5==0,L))

[55]

In [22]:
L = [11,22,33,44,55,78,41,67,89,56]

list(map(lambda n : n*2,L))

[22, 44, 66, 88, 110, 156, 82, 134, 178, 112]

In [23]:
L = [11,22,33,44,55,78,41,67,89,56]

list(filter(lambda n : n*2,L))

[11, 22, 33, 44, 55, 78, 41, 67, 89, 56]

In [24]:
L = [5,23,15,30,45,60,10,35,70]
x = lambda L : [n for n in L if n%5==0 and n%7==0]

x(L)

[35, 70]

In [25]:
list(filter(lambda x: x%5==0 and x%7==0,L))

[35, 70]

In [26]:
sqr = lambda L: [n**2 for n in L]
sqr(L)

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [27]:
list(map(lambda x: x**2,L))

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [28]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
     print(firstname, lastname, 'studies in', standard, 'Standard')
 
# 1 positional argument
student('John')
 
# 3 positional arguments                        
student('John', 'Gates', 'Seventh')    
 
# 2 positional arguments 
student('John', 'Gates')                 
student('John', 'Seventh')

John Mark studies in Fifth Standard
John Gates studies in Seventh Standard
John Gates studies in Fifth Standard
John Seventh studies in Fifth Standard

In [1]:
class A:
    
    def __init__(self,A,B):
        self.a = A
        self.b = B
        
class B(A):
    
    def __init__(self,C,D):
        super().__init__(C,D)
        self.c = C
        self.d = D

In [7]:
f = open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/sachin.txt",'w')
f.write("Sachin Wandre\n")
f.write("Pune\n")
f.write("Maharashtra\n")
f.close()

In [8]:
f = open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/sachin.txt",'r')
f.read()

'Sachin Wandre\nPune\nMaharashtra\n'

In [9]:
f = open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/sachin.txt",'r')
f.readline()

'Sachin Wandre\n'

In [10]:
f = open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/sachin.txt",'r')
f.readlines()

['Sachin Wandre\n', 'Pune\n', 'Maharashtra\n']

In [12]:
f = open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/sachin.txt",'r')

while True:
    data = f.readline()
    
    if data == "":
        break
    else:
        print(data)
        
f.close()

Sachin Wandre

Pune

Maharashtra

In [1]:
with open('D:/14_My Practice/Data Scientist Coding Practice/File Handling/demo3.txt','w') as file:
    file.write("Hello Good Morning")

In [2]:
import json
with open("D:/14_My Practice/Data Scientist Coding Practice/File Handling/Demo4.json",'w') as file:
    json.dump("Hello Sir Good Morning",file)

In [5]:
with open('D:/14_My Practice/Data Scientist Coding Practice/File Handling/Demo4.json','r') as file:
    data = json.load(file)
    print(data)

Hello Sir Good Morning

In [13]:
class Employee:
    
    def __init__(self,name,age,company):
        self.name = name;
        self.age = age;
        self.company = company
        
employee = Employee("Sachin",35,"Amdocs")

In [16]:
def show_employee(employee):
    if isinstance(employee,Employee):
        return "My name is {} and my age is {}, I am working in {} company".format(employee.name,employee.age,employee.company)

In [17]:
with open('D:/14_My Practice/Data Scientist Coding Practice/File Handling/employee.json','w') as file:
    json.dump(employee,file,default=show_employee)

In [18]:
def exception_demo(number):
    if number > 100:
        raise Exception("Number cant be > than 100")
    else:
        print('you are welcome')
try:
    exception_demo(130)
except Exception as e:
    print(e)

Number cant be > than 100

In [29]:


class MyCustomException(Exception):
    
    def __init__(self,msg):
        print (msg)
    def log_out(self):
        print('you logout successfully')
        

def withdraw(amount):
    if amount < 0:
        raise MyCustomException("Amount cant be negative")
    if amount > 25000:
        raise MyCustomException("This is not valid amount")
    else:
        print(24000-amount)

        
try:
    withdraw(-900)
except MyCustomException as e:
    print(e)
    print(e.log_out())

Amount cant be negative
Amount cant be negative
you logout successfully
None

In [31]:
def modify(fun,num):
    return fun(num)

def sqr(num):
    return num**2

modify(sqr,6)

36

In [35]:
def my_decorator(func):
    
    def wrapper():
        print("*" * 20)
        func()
        print("#" * 20)
        
    return wrapper
    
def my_func():
    print("Sachin Wandre")
    
new_func = my_decorator(my_func)

new_func()

print(type(new_func))

********************
Sachin Wandre
####################
<class 'function'>

In [47]:
import time
def timer(fun):
    def wrapper():
        start = time.time()
        fun()
        print("time take by function",fun.__name__,time.time()-start,'is sec')        
    return wrapper


def hello():
    time.sleep(1)
    print("Sachin")
    time.sleep(2)
    
new_fun = timer(hello)
new_fun()

Sachin
time take by function hello 3.019544839859009 is sec

In [40]:
import time
def timer(fun):
    def wrapper():
        start = time.time()
        fun()
        print("time take by function",fun.__name__,time.time()-start,'is sec')        
    return wrapper

@timer
def hello():
    time.sleep(1)
    print("Sachin")
    time.sleep(2)
    
hello()

Sachin
time take by function hello 3.0049848556518555 is sec

In [42]:
import time
def timer(fun):
    def wrapper():
        start = time.time()
        fun()
        print("time take by function",fun.__name__,time.time()-start,'is sec')        
    return wrapper

@timer
def hello():
    time.sleep(1)
    print("Sachin")
    time.sleep(2)
    
@timer
def square(num):
    return num*num

hello()
square()

Sachin
time take by function hello 3.0112974643707275 is sec

TypeError: square() missing 1 required positional argument: 'num'

In [46]:
import time
def timer(fun):
    def wrapper(*args):
        start = time.time()
        fun(*args)
        print("time take by function",fun.__name__,time.time()-start,'is sec')        
    return wrapper

@timer
def hello():
    time.sleep(1)
    print("Sachin")
    time.sleep(2)
    
@timer
def square(num):
    print(num*num)

hello()
square(10)

Sachin
time take by function hello 3.0141587257385254 is sec
100
time take by function square 0.0 is sec

In [48]:
[1,2,3,4,5]
[[1,2,3,4],[5,6,7,8]]

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [49]:
[[[1,2,3,4],[5,6,7,8]],[[11,22,33,44],[55,66,77,88]]]

[[[1, 2, 3, 4], [5, 6, 7, 8]], [[11, 22, 33, 44], [55, 66, 77, 88]]]

In [50]:
[[[1,1,1,1],[2,2,2,2]],[[3,3,3,3],[4,4,4,4]]]

[[[1, 1, 1, 1], [2, 2, 2, 2]], [[3, 3, 3, 3], [4, 4, 4, 4]]]

In [51]:
import numpy as np

a = np.array([[[1,1,1,1],[2,2,2,2]],[[3,3,3,3],[4,4,4,4]]])
a

array([[[1, 1, 1, 1],
        [2, 2, 2, 2]],

       [[3, 3, 3, 3],
        [4, 4, 4, 4]]])

In [3]:
import pandas as pd
ipl = pd.read_csv('D:/14_My Practice/Datasets/ipl-matches.csv')
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [6]:
ipl[ipl['Team1'] == 'Delhi Daredevils'][['Team1','Team2']]

                Team1                        Team2
259  Delhi Daredevils               Mumbai Indians
262  Delhi Daredevils          Chennai Super Kings
269  Delhi Daredevils  Royal Challengers Bangalore
272  Delhi Daredevils          Sunrisers Hyderabad
278  Delhi Daredevils          Sunrisers Hyderabad
..                ...                          ...
910  Delhi Daredevils              Kings XI Punjab
913  Delhi Daredevils              Deccan Chargers
921  Delhi Daredevils          Chennai Super Kings
933  Delhi Daredevils  Royal Challengers Bangalore
947  Delhi Daredevils             Rajasthan Royals

[85 rows x 2 columns]

In [2]:
l = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]],[[7,8,9],[10,11,12]]]
l

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[7, 8, 9], [10, 11, 12]]]

In [3]:
num = int(input("Enter number"))

for n in range(2,num):
    if num % n == 0:
        print('is not prime')
        break
else:
    print('prime number')

Enter number78
is not prime

In [6]:
start = int(input('First number'))
last = int(input('Last number'))

for n in range(start,last):
    if n > 1:
        for num in range(2,n):
            if n % num == 0:
                break
        else:
            print(n)
    else:
        print("Number must be greater than the 1")

First number34
Last number50
37
41
43
47

In [ ]:
start_number = int(input("Enter start number\t"))
end_number = int(input("Enter end number\t"))
isprime = True

for number in range(start_number,end_number+1):
    if number > 1:
        for n in range(2,number-1):
            if number % n == 0:
                break
        else:
            print(number)

In [20]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_keys = sorted(dict1.keys())
new_dict = {}
for key in sorted_keys:
    new_dict[key] = dict1[key]
    
new_dict

{'Che': 55, 'Eng': 52, 'Hindi': 72, 'Math': 78, 'Phy': 68}

In [21]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_values = sorted(dict1.values())
new_dict = {}
for value in sorted_values:
    for key in dict1.keys():
        if dict1[key] == value:
            new_dict.update({key:value})
print(new_dict)

{'Eng': 52, 'Che': 55, 'Phy': 68, 'Hindi': 72, 'Math': 78}

In [22]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_dict = sorted(dict1.items(),key=lambda k:k[0])
sorted_dict

[('Che', 55), ('Eng', 52), ('Hindi', 72), ('Math', 78), ('Phy', 68)]

In [24]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_dict = sorted(dict1.items(),key = lambda k : k[1])
print(sorted_dict)

[('Eng', 52), ('Che', 55), ('Phy', 68), ('Hindi', 72), ('Math', 78)]

In [25]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_dict = lambda d : sorted(d.items(),key=lambda k:k[0])
sorted_dict(dict1)

[('Che', 55), ('Eng', 52), ('Hindi', 72), ('Math', 78), ('Phy', 68)]

In [26]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72,}
sorted_dict = lambda d : sorted(d.items(),key=lambda k : k[1])
sorted_dict(dict1)

[('Eng', 52), ('Che', 55), ('Phy', 68), ('Hindi', 72), ('Math', 78)]

In [11]:
start = int(input('start'))
end = int(input('end'))

for num in range(start,end):
    
    for n in range(2,num):
        if num % n == 0:
            break
    else:
        print(num)

start22
end44
23
29
31
37
41
43

In [3]:
d = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}
new_dict = {}
sorted_keys = sorted(d.keys())
for key in sorted_keys:
    new_dict[key] = d[key]
new_dict

{1: 'Sachin',
 2: 'Snehal',
 3: 'Santosh',
 4: 'Sanjiwani',
 5: 'Shweta',
 6: 'Sujit'}

In [4]:
d = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}

new_dict = {}
sorted_values = sorted(d.values())

for value in sorted_values:
    for key in d.keys():
        if d[key] == value:
            new_dict.update({key:value})
            
print(new_dict)

{1: 'Sachin', 4: 'Sanjiwani', 3: 'Santosh', 5: 'Shweta', 2: 'Snehal', 6: 'Sujit'}

In [8]:
L = [2,3,-4,6,-7,-10,34,-7,-9]

['even' if n%2==0 else 'odd' for n in L]

['even', 'odd', 'even', 'even', 'odd', 'even', 'even', 'odd', 'odd']

In [12]:
[[j for i in range(1,5)] for j in range(1,3)]

[[1, 1, 1, 1], [2, 2, 2, 2]]

In [15]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72}
sort = sorted(dict1.items(),key=lambda k:k[0])
sort

[('Che', 55), ('Eng', 52), ('Hindi', 72), ('Math', 78), ('Phy', 68)]

In [16]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72}
sort = sorted(dict1.items(),key=lambda k:k[1])
sort

[('Eng', 52), ('Che', 55), ('Phy', 68), ('Hindi', 72), ('Math', 78)]

In [19]:
dict1 = {"Phy":68,"Che":55,"Math":78,"Eng":52,"Hindi":72}
sort = lambda d : sorted(d.items(),key=lambda k:k[0])
sort(dict1)
#print(sort)

[('Che', 55), ('Eng', 52), ('Hindi', 72), ('Math', 78), ('Phy', 68)]

In [27]:
L = [11,22,33,44,55,78,41,67,89,56]
list(map(lambda l : l**2,L))

[121, 484, 1089, 1936, 3025, 6084, 1681, 4489, 7921, 3136]

In [29]:
L = [11,22,33,44,55,78,41,67,89,56]

square = lambda list1 : [number**2 for number in list1]
square(L)

[121, 484, 1089, 1936, 3025, 6084, 1681, 4489, 7921, 3136]

In [30]:
L = [11,22,33,44,55,78,41,67,89,56]
list(filter(lambda l: l%2==0,L))

[22, 44, 78, 56]

In [31]:
L = [11,22,33,44,55,78,41,67,89,56]
list(filter(lambda l: l>60,L))

[78, 67, 89]

In [3]:
try:
    div = 20 /0
except  Exception as e:
    print(e)
else:
    print("Else executed")
finally:
    print('finally executed')

division by zero
finally executed

In [1]:
!pip install openai
!pip install langchain

Collecting openai
  Obtaining dependency information for openai from https://files.pythonhosted.org/packages/67/78/7588a047e458cb8075a4089d721d7af5e143ff85a2388d4a28c530be0494/openai-0.27.8-py3-none-any.whl.metadata
  Downloading openai-0.27.8-py3-none-any.whl.metadata (13 kB)
Collecting requests>=2.20 (from openai)
  Obtaining dependency information for requests>=2.20 from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting tqdm (from openai)
  Obtaining dependency information for tqdm from https://files.pythonhosted.org/packages/00/e5/f12a80907d0884e6dff9c16d0c0114d81b8cd07dc3ae54c5e962cc83037e/tqdm-4.66.1-py3-none-any.whl.metadata
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 1.0 MB/s eta 0:00:00
Collecting aiohttp (from openai)
  Obtaining dependency information for aiohttp from https://files.pythonhosted.org/packages/c2/7c/66aff492b444f0d089bd74ffcb7346ebc3521ba68c77ac5479a2b947091c/aiohttp-3.8.5-cp39-cp39-win_amd64.whl.metadata
  Downloading aiohttp-3.8.5-cp39-cp39-win_amd64.whl.metadata (8.0 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.20->openai)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/cb/dd/dce14328e6abe0f475e606131298b4c8f628abd62a4e6f27fdfa496b9efe/charset_normalizer-3.2.0-cp39-cp39-win_amd64.whl.metadata
  Downloading charset_normalizer-3.2.0-cp39-cp39-win_amd64.whl.metadata (31 kB)
Collecting idna<4,>=2.5 (from requests>=2.20->openai)
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.20->openai)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/9b/81/62fd61001fa4b9d0df6e31d47ff49cfa9de4af03adecf339c7bc30656b37/urllib3-2.0.4-py3-none-any.whl.metadata
  Downloading urllib3-2.0.4-py3-none-any.whl.metadata (6.6 kB)
Collecting certifi>=2017.4.17 (from requests>=2.20->openai)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/4c/dd/2234eab22353ffc7d94e8d13177aaa050113286e93e7b40eae01fbf7c3d9/certifi-2023.7.22-py3-none-any.whl.metadata
  Downloading certifi-2023.7.22-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp->openai) (22.1.0)
Collecting multidict<7.0,>=4.5 (from aiohttp->openai)
  Downloading multidict-6.0.4-cp39-cp39-win_amd64.whl (28 kB)
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp->openai)
  Obtaining dependency information for async-timeout<5.0,>=4.0.0a3 from https://files.pythonhosted.org/packages/a7/fa/e01228c2938de91d47b307831c62ab9e4001e747789d0b05baf779a6488c/async_timeout-4.0.3-py3-none-any.whl.metadata
  Downloading async_timeout-4.0.3-py3-none-any.whl.metadata (4.2 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp->openai)
  Downloading yarl-1.9.2-cp39-cp39-win_amd64.whl (61 kB)
     ---------------------------------------- 0.0/61.7 kB ? eta -:--:--
     ---------------------------------------- 61.7/61.7 kB 3.2 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1 (from aiohttp->openai)
  Obtaining dependency information for frozenlist>=1.1.1 from https://files.pythonhosted.org/packages/f9/16/ef36f5b20ee10dba86d4b5223d55b416e97dfa2dbf5546f0c6d9aa8a26ba/frozenlist-1.4.0-cp39-cp39-win_amd64.whl.metadata
  Downloading frozenlist-1.4.0-cp39-cp39-win_amd64.whl.metadata (5.3 kB)
Collecting aiosignal>=1.1.2 (from aiohttp->openai)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: colorama in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from tqdm->openai) (0.4.6)
Downloading openai-0.27.8-py3-none-any.whl (73 kB)
   ---------------------------------------- 0.0/73.6 kB ? eta -:--:--
   ---------------------------------------- 73.6/73.6 kB ? eta 0:00:00
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Downloading aiohttp-3.8.5-cp39-cp39-win_amd64.whl (327 kB)
   ---------------------------------------- 0.0/327.1 kB ? eta -:--:--
   --------------------------------- ------ 276.5/327.1 kB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 327.1/327.1 kB 5.0 MB/s eta 0:00:00
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ---------------------------------------- 78.3/78.3 kB 4.3 MB/s eta 0:00:00
Downloading async_timeout-4.0.3-py3-none-any.whl (5.7 kB)
Using cached certifi-2023.7.22-py3-none-any.whl (158 kB)
Downloading charset_normalizer-3.2.0-cp39-cp39-win_amd64.whl (96 kB)
   ---------------------------------------- 0.0/96.9 kB ? eta -:--:--
   ---------------------------------------- 96.9/96.9 kB 5.4 MB/s eta 0:00:00
Downloading frozenlist-1.4.0-cp39-cp39-win_amd64.whl (44 kB)
   ---------------------------------------- 0.0/44.7 kB ? eta -:--:--
   ---------------------------------------- 44.7/44.7 kB 2.2 MB/s eta 0:00:00
Using cached urllib3-2.0.4-py3-none-any.whl (123 kB)
Installing collected packages: urllib3, tqdm, multidict, idna, frozenlist, charset-normalizer, certifi, async-timeout, yarl, requests, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.5 aiosignal-1.3.1 async-timeout-4.0.3 certifi-2023.7.22 charset-normalizer-3.2.0 frozenlist-1.4.0 idna-3.4 multidict-6.0.4 openai-0.27.8 requests-2.31.0 tqdm-4.66.1 urllib3-2.0.4 yarl-1.9.2
Collecting langchain
  Obtaining dependency information for langchain from https://files.pythonhosted.org/packages/20/bf/976db78bec94a810375d3eb7fab5501ef774993da5f54947d5ba71efc997/langchain-0.0.266-py3-none-any.whl.metadata
  Downloading langchain-0.0.266-py3-none-any.whl.metadata (14 kB)
Collecting PyYAML>=5.3 (from langchain)
  Obtaining dependency information for PyYAML>=5.3 from https://files.pythonhosted.org/packages/84/4d/82704d1ab9290b03da94e6425f5e87396b999fd7eb8e08f3a92c158402bf/PyYAML-6.0.1-cp39-cp39-win_amd64.whl.metadata
  Downloading PyYAML-6.0.1-cp39-cp39-win_amd64.whl.metadata (2.1 kB)
Collecting SQLAlchemy<3,>=1.4 (from langchain)
  Obtaining dependency information for SQLAlchemy<3,>=1.4 from https://files.pythonhosted.org/packages/01/fb/becd158acfec58b7a34d04affe79df9f8e5f95aa2114b5dacf50a8752f20/SQLAlchemy-2.0.20-cp39-cp39-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.20-cp39-cp39-win_amd64.whl.metadata (9.7 kB)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from langchain) (3.8.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from langchain) (4.0.3)
Collecting dataclasses-json<0.6.0,>=0.5.7 (from langchain)
  Obtaining dependency information for dataclasses-json<0.6.0,>=0.5.7 from https://files.pythonhosted.org/packages/97/5f/e7cc90f36152810cab08b6c9c1125e8bcb9d76f8b3018d101b5f877b386c/dataclasses_json-0.5.14-py3-none-any.whl.metadata
  Downloading dataclasses_json-0.5.14-py3-none-any.whl.metadata (22 kB)
Collecting langsmith<0.1.0,>=0.0.21 (from langchain)
  Obtaining dependency information for langsmith<0.1.0,>=0.0.21 from https://files.pythonhosted.org/packages/3a/51/63ff9bfcb70146b2ff72858765fc32427d127e4e50bb5bd946f78121560d/langsmith-0.0.24-py3-none-any.whl.metadata
  Downloading langsmith-0.0.24-py3-none-any.whl.metadata (10 kB)
Collecting numexpr<3.0.0,>=2.8.4 (from langchain)
  Obtaining dependency information for numexpr<3.0.0,>=2.8.4 from https://files.pythonhosted.org/packages/41/17/22c110d3935e7201bdb33e9b96f50336cf2d06773d6cd89fdb1bb1214910/numexpr-2.8.5-cp39-cp39-win_amd64.whl.metadata
  Downloading numexpr-2.8.5-cp39-cp39-win_amd64.whl.metadata (8.2 kB)
Requirement already satisfied: numpy<2,>=1 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from langchain) (1.25.2)
Collecting openapi-schema-pydantic<2.0,>=1.2 (from langchain)
  Downloading openapi_schema_pydantic-1.2.4-py3-none-any.whl (90 kB)
     ---------------------------------------- 0.0/90.0 kB ? eta -:--:--
     ---------------------------------------- 90.0/90.0 kB 5.3 MB/s eta 0:00:00
Collecting pydantic<2,>=1 (from langchain)
  Obtaining dependency information for pydantic<2,>=1 from https://files.pythonhosted.org/packages/34/cb/8ade225a018c9449cb16b4839f825f1bace15fefff23583345ca31fa42ff/pydantic-1.10.12-cp39-cp39-win_amd64.whl.metadata
  Downloading pydantic-1.10.12-cp39-cp39-win_amd64.whl.metadata (150 kB)
     ---------------------------------------- 0.0/150.6 kB ? eta -:--:--
     -------------------------------------- 150.6/150.6 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from langchain) (2.31.0)
Collecting tenacity<9.0.0,>=8.1.0 (from langchain)
  Obtaining dependency information for tenacity<9.0.0,>=8.1.0 from https://files.pythonhosted.org/packages/f4/f1/990741d5bb2487d529d20a433210ffa136a367751e454214013b441c4575/tenacity-8.2.3-py3-none-any.whl.metadata
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Obtaining dependency information for marshmallow<4.0.0,>=3.18.0 from https://files.pythonhosted.org/packages/ed/3c/cebfdcad015240014ff08b883d1c0c427f2ba45ae8c6572851b6ef136cad/marshmallow-3.20.1-py3-none-any.whl.metadata
  Downloading marshmallow-3.20.1-py3-none-any.whl.metadata (7.8 kB)
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Obtaining dependency information for typing-inspect<1,>=0.4.0 from https://files.pythonhosted.org/packages/65/f3/107a22063bf27bdccf2024833d3445f4eea42b2e598abfbd46f6a63b6cb0/typing_inspect-0.9.0-py3-none-any.whl.metadata
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from pydantic<2,>=1->langchain) (4.7.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from requests<3,>=2->langchain) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from requests<3,>=2->langchain) (2023.7.22)
Collecting greenlet!=0.4.17 (from SQLAlchemy<3,>=1.4->langchain)
  Downloading greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.1 kB ? eta -:--:--
     -------------------------------------- 192.1/192.1 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: packaging>=17.0 in c:\users\sachin wandre\.conda\envs\notebook\lib\site-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.0)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Downloading langchain-0.0.266-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------------ --------------------------- 0.5/1.5 MB 14.9 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.5 MB 8.9 MB/s eta 0:00:01
   ---------------------- ----------------- 0.9/1.5 MB 6.9 MB/s eta 0:00:01
   -------------------------- ------------- 1.0/1.5 MB 5.9 MB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.5 MB 5.5 MB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 4.6 MB/s eta 0:00:00
Downloading dataclasses_json-0.5.14-py3-none-any.whl (26 kB)
Downloading langsmith-0.0.24-py3-none-any.whl (33 kB)
Downloading numexpr-2.8.5-cp39-cp39-win_amd64.whl (94 kB)
   ---------------------------------------- 0.0/94.4 kB ? eta -:--:--
   ---------------------------------------- 94.4/94.4 kB 5.3 MB/s eta 0:00:00
Downloading pydantic-1.10.12-cp39-cp39-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.2 MB 5.9 MB/s eta 0:00:01
   -------- ------------------------------- 0.5/2.2 MB 5.0 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.2 MB 5.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.1/2.2 MB 5.6 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.2 MB 5.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.2 MB 4.8 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.2 MB 4.7 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 2.0/2.2 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.2 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.2 MB/s eta 0:00:00
Downloading PyYAML-6.0.1-cp39-cp39-win_amd64.whl (152 kB)
   ---------------------------------------- 0.0/152.8 kB ? eta -:--:--
   ---------------------------------------- 152.8/152.8 kB 4.6 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.20-cp39-cp39-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.0 MB 5.2 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/2.0 MB 5.3 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/2.0 MB 5.0 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.0 MB 4.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.0 MB 4.9 MB/s eta 0:00:01
   ------------------------ --------------- 1.2/2.0 MB 4.6 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.0 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.0 MB 4.4 MB/s eta 0:00:01
   -------------------------------------- - 1.9/2.0 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 4.1 MB/s eta 0:00:00
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Downloading marshmallow-3.20.1-py3-none-any.whl (49 kB)
   ---------------------------------------- 0.0/49.4 kB ? eta -:--:--
   ---------------------------------------- 49.4/49.4 kB 2.4 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Installing collected packages: tenacity, PyYAML, pydantic, numexpr, mypy-extensions, marshmallow, greenlet, typing-inspect, SQLAlchemy, openapi-schema-pydantic, langsmith, dataclasses-json, langchain
Successfully installed PyYAML-6.0.1 SQLAlchemy-2.0.20 dataclasses-json-0.5.14 greenlet-2.0.2 langchain-0.0.266 langsmith-0.0.24 marshmallow-3.20.1 mypy-extensions-1.0.0 numexpr-2.8.5 openapi-schema-pydantic-1.2.4 pydantic-1.10.12 tenacity-8.2.3 typing-inspect-0.9.0

In [2]:
from langchain.llms import OpenAI

llm = OpenAI(openai_api_key="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")
print('Hi')

Hi

In [1]:
L = [5,23,15,30,45,60,10,35,70]
[number**3 for number in L]

[125, 12167, 3375, 27000, 91125, 216000, 1000, 42875, 343000]

In [2]:
output = lambda x : [number**3 for number in x]
output(L)

[125, 12167, 3375, 27000, 91125, 216000, 1000, 42875, 343000]

In [3]:
list(map(lambda number : number**3,L))

[125, 12167, 3375, 27000, 91125, 216000, 1000, 42875, 343000]

In [14]:
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A', 'B', 'D']}
df = pd.DataFrame(data)

#print(df)
# Get value counts
#df['Category'].value_counts()

# Filter the DataFrame to include only values with counts greater than 2
filtered_df = df[df['Category'].isin(value_counts.index[value_counts > 2])]

print(filtered_df)

  Category
0        A
1        B
2        A
4        B
5        A
7        A
8        B

In [18]:
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A', 'B', 'D']}
df = pd.DataFrame(data)

# Get value counts
value_counts = df['Category'].value_counts()

# Filter the DataFrame to include only values with counts greater than 2
filtered_df = df[df['Category'].isin(value_counts.index[value_counts > 2])]

print(filtered_df)

  Category
0        A
1        B
2        A
4        B
5        A
7        A
8        B