In [1]:
list1 = []
dict1 = {}
tuple1 = ()
print(type(list1))
print(type(dict1))
print(type(tuple1))

<class 'list'>
<class 'dict'>
<class 'tuple'>

In [2]:
set1 = set()
print(type(set1))

<class 'set'>

In [3]:
t = (1)
print(type(t))

<class 'int'>

In [4]:
t = (1,)
print(type(t))

<class 'tuple'>

In [5]:
for number in range(11,30):
    for i in range(2,number):
        if number % i == 0:
            break
    else:
        print(number)

11
13
17
19
23
29

In [9]:
number = 67
for i in range(2,number):
    if number % i == 0:
        break
else:
    print('Prime number')

Prime number

In [10]:
# Define the input and desired output
input_str = "Akalkot"
desired_output = "kolkata"

# Transform the input to match the desired output
output = ''.join([c.lower() if c.isalpha() else c for c in desired_output])

print(output)

kolkata

In [14]:
string = "aabxbbcccxdddddeeex"
temp = []
for s in string:
    if s not in temp:
        temp.append(s)
        print(s,"is occured",string.count(s))

a is occured 2
b is occured 3
x is occured 3
c is occured 3
d is occured 5
e is occured 3

In [24]:
string = "I Love INDIA and I am Data scientist"

new = " "
word = " "
reverse = " "
s = string.split()[-1]

for i in string:
    if i != " ":
        word = word + i
    else:
        reverse = word[::-1]
        #new =  reverse + new
        new =  new + reverse 
        word = " "
        
print(new + " "+ s[::-1])

 I evoL AIDNI dna I ma ataD  tsitneics

In [25]:
string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
#print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str = reverse + new_str
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " "+ new_str)

tsitneics ataD ma I dna AIDNI evoL I

In [28]:
s = 'malayalaiim'
flag = True
for n in range(0,len(s)//2):
    if s[n] != s[(len(s)-n-1)]:
        flag = False
        break
if flag:
    print('ahe')
else:
    print('nahi')

nahi

In [1]:
def generate_resultant_list(arr):
    resultant_list = []

    for i in range(len(arr)):
        total = sum(val for val in arr[i:] if val >= arr[i])
        resultant_list.append(total)

    return resultant_list

# Example list
input_list = [2, 4, 6, 10, 1]

# Generate the resultant list
result = generate_resultant_list(input_list)
print("Resultant list:", result)

Resultant list: [22, 20, 16, 10, 1]

In [2]:
[number **2 if number%2 == 0 else number**3 for number in [4,5,6,7,8,9,1]]

[16, 125, 36, 343, 64, 729, 1]

In [3]:
t = ("Sachin",3,4,66.77)
t

('Sachin', 3, 4, 66.77)

In [2]:
for j in range(1,11):
    for i in range(2,5):
        print(i*j)
    print()

2
3
4

4
6
8

6
9
12

8
12
16

10
15
20

12
18
24

14
21
28

16
24
32

18
27
36

20
30
40

In [4]:
d = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}

sort = {}
for key in sorted(d.keys()):
    sort[key] = d[key]
    
print(sort)

{1: 'Sachin', 2: 'Snehal', 3: 'Santosh', 4: 'Sanjiwani', 5: 'Shweta', 6: 'Sujit'}

In [6]:
d = {1:"Sachin",3:"Santosh",5:"Shweta",4:"Sanjiwani",2:"Snehal",6:"Sujit"}

sort= {}
for value in sorted(d.values()):
    for key in d.keys():
        if d[key] == value:
            sort.update({key:value})
            
print(sort)

{1: 'Sachin', 4: 'Sanjiwani', 3: 'Santosh', 5: 'Shweta', 2: 'Snehal', 6: 'Sujit'}

In [7]:
L = [3,6,1,4,2,9,6,7,0]
sort = lambda list1 : sorted(list1)
sort(L)

[0, 1, 2, 3, 4, 6, 6, 7, 9]

In [8]:
output = lambda list1 :[i for i in list1 if i %2 == 0]
output(L)

[6, 4, 2, 6, 0]

In [11]:
L = [(1,100),(33,300),(6,600),(22,200),(4,400),(8,800)]
output = lambda list1 : sorted(list1,key=lambda k : k[0])
output(L)

[(1, 100), (4, 400), (6, 600), (8, 800), (22, 200), (33, 300)]

In [12]:
output = lambda list1:sorted(list1,key=lambda k:k[1])
output(L)

[(1, 100), (22, 200), (33, 300), (4, 400), (6, 600), (8, 800)]

In [16]:
L = [3,6,1,4,2,9,6,7,0]
output = lambda list1 : [True if i%2==0 else False for i in list1]
output(L)

[False, True, False, True, True, False, True, False, True]

In [17]:
L = [11,22,33,44,55,78,41,67,89,56]
list(filter(lambda x: x%2==0,L))

[22, 44, 78, 56]

In [18]:
list(filter(lambda x: x %2!=0,L))

[11, 33, 55, 41, 67, 89]

In [19]:
list(filter(lambda x: x > 50,L))

[55, 78, 67, 89, 56]

In [20]:
list(map(lambda x : x**2,L))

[121, 484, 1089, 1936, 3025, 6084, 1681, 4489, 7921, 3136]

In [37]:
path = "D:/Data Scientist/My Coding Practice/File Handling/"
file = open(path +'test.txt','w')
file.write("I am Sachin. Data Scientist")
file.close()

In [35]:
# case 1 - if the file is not present
f = open(path + 'sachin.txt','w')
f.write('Hello world')
f.close()
# since file is closed hence this will not work
#f.write('hello')

In [38]:
file = open(path + 'test.txt','r')
text = file.readline()
print(text)
file.close()

I am Sachin. Data Scientist

In [ ]:
ipl[ipl['Matchnumber'] == 'Final'][['X','Y']]

In [ ]:
movies['Lead Actor'] = movies['Actors'].str.split('|').apply(lambda X : X[0])

In [1]:
11/3

3.6666666666666665

In [2]:
11//3

3

In [3]:
11%3

2

In [11]:
for i in range(1,7):
    for j in range(1,i+1):
        print(j,end = " ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [12]:
for i in range(1,7):
    for j in range(1,i+1):
        print(j,end = " ")
    for k in range(j-1,0,-1):
        print(k,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [15]:
str1 = 'Sachin Wandre'
str1[-1:-8:-3]

'en '

In [18]:
str1[12:10:-1]

'er'

In [24]:
str1[-2:8:-1]

'rdn'

In [21]:
str1[2:-4:1]

'chin Wa'

In [23]:
str1[2:-4:-1]

''

In [25]:
print(str1[2:10:-1])

In [26]:
input_string = "abcdefegch"
list1 = []
temp = ""
for s in input_string:
    if s in list1:
        print(s)
        break
    list1.append(s)

e

In [27]:
def find_first_repeated_character(input_string):
    char_count = {}  # Dictionary to store character counts

    for char in input_string:
        if char in char_count:
            return char  # Found the first repeated character
        char_count[char] = 1

    return None  # No repeated character found

# Input string
input_string = "abcdefegch"

first_repeated = find_first_repeated_character(input_string)

if first_repeated:
    print(f"The first repeated character is: {first_repeated}")
else:
    print("No repeated character found")

The first repeated character is: e

In [ ]:
string = "I Love INDIA and I am Data scientist"

list1 = []

list1 = string.split()

list1.reverse()
# print(list1)

reverse_string = " ".join(list1)
reverse_string

In [30]:
string = "I Love INDIA and I am Data scientist"
t = string.split()
t.reverse()
" ".join(t)

'scientist Data am I and INDIA Love I'

In [31]:
string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
#print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str = new_str + reverse 
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " "+ new_str)

tsitneics  I evoL AIDNI dna I ma ataD

In [32]:
string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
#print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str =  reverse + new_str
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " "+ new_str)

tsitneics ataD ma I dna AIDNI evoL I

In [34]:
string = " I am Sachin I am Data Scientist"
l = []
for s in string:
    if s not in l:
        l.append(s)
print(l)

[' ', 'I', 'a', 'm', 'S', 'c', 'h', 'i', 'n', 'D', 't', 'e', 's']

In [37]:
s = 'malayalam'
flag = True

for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        flag = False
if flag:
    print('yes')
else:
    print('no')

yes

In [41]:
number = 37

for i in range(2,number//2):
    if number % i == 0:
        break
        
else:
    print("Prime")

Prime

In [44]:
start = 1
end = 67

for i in range(start,end+1):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67

In [45]:
L = [11,22,33,44,55,78,41,67,89,56]
list(filter(lambda x : x%2==0,L))

[22, 44, 78, 56]

In [46]:
list(map(lambda x : x**3 ,L))

[1331, 10648, 35937, 85184, 166375, 474552, 68921, 300763, 704969, 175616]