In [14]:
import os
import zipfile

# Specify the path to the directory containing zip files
dir_path = 'E:/A/'

# Traverse the directory and look for zip files
for root, dirs, files in os.walk(dir_path):
    for file in files:
        print(file)
        print(root)
        print(dirs)
        if file.endswith('.zip'):
            
            # Specify the path to the zip file
            zip_file_path = os.path.join(root, file)
            print("------>",zip_file_path)
            
            # Open the zip file in read mode
            with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
                
                # Print the list of all files in the zip archive
                print(zip_ref.namelist())
                print(zip_ref.filename)
                
                # Extract all the files in the zip archive to a folder named "extracted_files"
                zip_ref.extractall(path = "E:/Sachin/")

B.zip
E:/A/
[]
------> E:/A/B.zip
['B/AA.txt']
E:/A/B.zip
C.zip
E:/A/
[]
------> E:/A/C.zip
['C/DD.txt']
E:/A/C.zip

In [5]:
import pandas as pd
ipl = pd.read_csv('D:/14_My Practice/Datasets/ipl-matches.csv')
ipl.head(3)
A = ipl[:20]
A

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma
12,1304108,Mumbai,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans,"Wankhede Stadium, Mumbai",Chennai Super Kings,bat,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
13,1304107,Pune,2022-05-14,2022,61,Kolkata Knight Riders,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,54.0,NaN,AD Russell,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",AK Chaudhary,KN Ananthapadmanabhan
14,1304106,Mumbai,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,field,N,Punjab Kings,Runs,54.0,NaN,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit
15,1304105,Mumbai,2022-05-12,2022,59,Chennai Super Kings,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
16,1304104,Navi Mumbai,2022-05-11,2022,58,Rajasthan Royals,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,8.0,NaN,MR Marsh,"['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D P...","['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pan...",NA Patwardhan,Nitin Menon
17,1304103,Pune,2022-05-10,2022,57,Gujarat Titans,Lucknow Super Giants,"Maharashtra Cricket Association Stadium, Pune",Gujarat Titans,bat,N,Gujarat Titans,Runs,62.0,NaN,Shubman Gill,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Shar...",KN Ananthapadmanabhan,MA Gough
18,1304102,Navi Mumbai,2022-05-09,2022,56,Kolkata Knight Riders,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Kolkata Knight Riders,Runs,52.0,NaN,JJ Bumrah,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['RG Sharma', 'Ishan Kishan', 'Tilak Varma', '...",CB Gaffaney,GR Sadashiv Iyer
19,1304101,Navi Mumbai,2022-05-08,2022,55,Chennai Super Kings,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Chennai Super Kings,Runs,91.0,NaN,DP Conway,"['RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayu...","['DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pan...",Nitin Menon,R Pandit

In [6]:
courses = pd.read_csv('D:/14_My Practice/Datasets/courses.csv')
courses.head(3)
B = courses[:20]
B

    course_id       course_name  price
0           1            python   2499
1           2               sql   3499
2           3     data analysis   4999
3           4  machine learning   9999
4           5           tableau   2499
5           6          power bi   1899
6           7          ms sxcel   1599
7           8            pandas   1099
8           9            plotly    699
9          10           pyspark   2499
10         11             Numpy    699
11         12               C++   1299

In [12]:
X = pd.concat([A,B],axis=1)
X.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'course_id', 'course_name',
       'price'],
      dtype='object')

In [13]:
x = X[['Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'course_id', 'course_name',
       'price']]
x

,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,course_id,course_name,price
0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1.0,python,2499.0
1,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,2.0,sql,3499.0
2,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,3.0,data analysis,4999.0
3,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,4.0,machine learning,9999.0
4,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,5.0,tableau,2499.0
5,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma,6.0,power bi,1899.0
6,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan,7.0,ms sxcel,1599.0
7,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer,8.0,pandas,1099.0
8,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde,9.0,plotly,699.0
9,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit,10.0,pyspark,2499.0
10,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon,11.0,Numpy,699.0
11,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma,12.0,C++,1299.0
12,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma,NaN,NaN,NaN
13,AD Russell,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",AK Chaudhary,KN Ananthapadmanabhan,NaN,NaN,NaN
14,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit,NaN,NaN,NaN
15,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney,NaN,NaN,NaN
16,MR Marsh,"['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D P...","['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pan...",NA Patwardhan,Nitin Menon,NaN,NaN,NaN
17,Shubman Gill,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Shar...",KN Ananthapadmanabhan,MA Gough,NaN,NaN,NaN
18,JJ Bumrah,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['RG Sharma', 'Ishan Kishan', 'Tilak Varma', '...",CB Gaffaney,GR Sadashiv Iyer,NaN,NaN,NaN
19,DP Conway,"['RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayu...","['DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pan...",Nitin Menon,R Pandit,NaN,NaN,NaN

In [2]:
import pandas as pd
import numpy as np

In [6]:
dataframe = pd.DataFrame({'env':['admin','admin','admin','chi','chi','chi'],
                          'cluster':[11,11,11,22,22,22],
                          'match':['batch',np.nan,np.nan,'micro',np.nan,np.nan],
                          'backing':[np.nan,'coutch',np.nan,np.nan,'postgress','postgress'],
                          'ind':[1,1,1,2,2,2]
                         
                         
                         })

dataframe

     env  cluster  match    backing  ind
0  admin       11  batch        NaN    1
1  admin       11    NaN     coutch    1
2  admin       11    NaN        NaN    1
3    chi       22  micro        NaN    2
4    chi       22    NaN  postgress    2
5    chi       22    NaN  postgress    2

In [20]:
d = dataframe.groupby('match')['backing']
d.first()

match
batch    None
micro    None
Name: backing, dtype: object

In [21]:
d.head()

0          NaN
1       coutch
2          NaN
3          NaN
4    postgress
5    postgress
Name: backing, dtype: object

In [23]:
s = dataframe.groupby(['cluster','match'])

In [25]:
s.first()

                 env backing  ind
cluster match
11      batch  admin    None    1
22      micro    chi    None    2

In [28]:
p = (dataframe.groupby(['cluster','match'])['env'])
p.first()

cluster  match
11       batch    admin
22       micro      chi
Name: env, dtype: object

In [30]:
f = dataframe.groupby(['match'])['env']
f.first()

match
batch    admin
micro      chi
Name: env, dtype: object

In [31]:
dataframe

     env  cluster  match    backing  ind
0  admin       11  batch        NaN    1
1  admin       11    NaN     coutch    1
2  admin       11    NaN        NaN    1
3    chi       22  micro        NaN    2
4    chi       22    NaN  postgress    2
5    chi       22    NaN  postgress    2

In [34]:
import pandas as pd
import numpy as np

fff = pd.DataFrame({
    'env': ['admin', 'admin', 'admin', 'chi', 'chi', 'chi'],
    'cluster': [11, 11, 11, 22, 22, 22],
    'match': ['batch', np.nan, np.nan, 'micro', np.nan, np.nan],
    'backing': [np.nan, 'coutch', np.nan, np.nan, 'postgress', 'postgress'],
    'ind': [1, 1, 1, 2, 2, 2]
})

fff['match'] = fff['match'].fillna(method='ffill')


fff

     env  cluster  match    backing  ind
0  admin       11  batch        NaN    1
1  admin       11  batch     coutch    1
2  admin       11  batch        NaN    1
3    chi       22  micro        NaN    2
4    chi       22  micro  postgress    2
5    chi       22  micro  postgress    2

In [35]:
import pandas as pd
import numpy as np

fff = pd.DataFrame({
    'env': ['admin', 'admin', 'admin', 'chi', 'chi', 'chi'],
    'cluster': [11, 11, 11, 22, 22, 22],
    'match': ['batch', np.nan, np.nan,np.nan,'micro',np.nan],
    'backing': [np.nan, 'coutch', np.nan, np.nan, 'postgress', 'postgress'],
    'ind': [1, 1, 1, 2, 2, 2]
})

fff['match'] = fff['match'].fillna(method='ffill')


fff

     env  cluster  match    backing  ind
0  admin       11  batch        NaN    1
1  admin       11  batch     coutch    1
2  admin       11  batch        NaN    1
3    chi       22  batch        NaN    2
4    chi       22  micro  postgress    2
5    chi       22  micro  postgress    2

In [36]:
import pandas as pd
import numpy as np

dataframe = pd.DataFrame({
    'env': ['admin', 'admin', 'admin', 'chi', 'chi', 'chi'],
    'cluster': [11, 11, 11, 22, 22, 22],
    'match': ['batch', np.nan, np.nan, 'micro', np.nan, np.nan],
    'backing': [np.nan, 'coutch', np.nan, np.nan, 'postgress', 'postgress'],
    'ind': [1, 1, 1, 2, 2, 2]
})

dataframe.loc[dataframe['env'] == 'admin', 'match'] = 'batch'
dataframe.loc[dataframe['env'] == 'chi', 'match'] = 'micro'
dataframe

     env  cluster  match    backing  ind
0  admin       11  batch        NaN    1
1  admin       11  batch     coutch    1
2  admin       11  batch        NaN    1
3    chi       22  micro        NaN    2
4    chi       22  micro  postgress    2
5    chi       22  micro  postgress    2

In [37]:
dataframe.cluster

0    11
1    11
2    11
3    22
4    22
5    22
Name: cluster, dtype: int64

In [38]:
dataframe.loc[dataframe['env'] == 'admin', 'backing'] = 'coutch'
dataframe.loc[dataframe['env'] == 'chi', 'backing'] = 'postgress'
dataframe

     env  cluster  match    backing  ind
0  admin       11  batch     coutch    1
1  admin       11  batch     coutch    1
2  admin       11  batch     coutch    1
3    chi       22  micro  postgress    2
4    chi       22  micro  postgress    2
5    chi       22  micro  postgress    2

In [1]:
print(ord('D'))

68

In [4]:
print(chr(88))

X

In [5]:
67/6

11.166666666666666

In [6]:
67//6

11

In [7]:
67%6

1

In [13]:
s = 'sachin wandre data555 scientist'
print(s.capitalize())

Sachin wandre data555 scientist

In [9]:
print(s.title())

Sachin Wandre Data Scientist

In [14]:
print(s.isalnum())

False

In [15]:
print(s.isalpha())

False

In [17]:
t = 'sachin'
print(t.isalnum())
print(t.isalpha())

True
True

In [18]:
print(t.find('g'))

-1

In [20]:
print(t.index('s'))

0

In [21]:
s = 'sachin wandre data555 scientist'
print(s[2:10:1])

chin wan

In [22]:
print(s[2:10:-1])

In [25]:
print(s[20:10:-1])

555atad er

In [26]:
f = {2,3,4,5,6}
f.add(100)
f

{2, 3, 4, 5, 6, 100}

In [27]:
print(type(f))

<class 'set'>

In [34]:
g = {20,30,400,50,60}

In [35]:
f.update(g)
f

{2, 3, 4, 5, 6, 20, 30, 40, 50, 60, 100, 400}

In [36]:
	L = [5,23,15,30,45,60,10,35,70]
	list(filter(lambda x : x % 5 == 0 and x % 7 == 0,L))

[35, 70]

In [38]:
list1 = [10,11,12,13,14,15]
sqr = lambda list1 : [x**2 for x in list1]
sqr(list1)

[100, 121, 144, 169, 196, 225]

In [41]:
list(map(lambda x: x**2,list1))

[100, 121, 144, 169, 196, 225]

In [42]:
def someone(a=30,b=8):
    return a+b

In [46]:
result = someone(b=10,a=99)
print(result)

109

In [47]:
result = someone(100,200)
print(result)

300

In [ ]:
class MyException(Exception):
    def __init__(self,message):
        print(message)

In [2]:
import random

# List of words to choose from
nouns = ["cat", "dog", "house", "car"]
verbs = ["runs", "jumps", "sleeps", "drives"]
adjectives = ["red", "big", "happy", "fast"]

# Generate a random sentence
def generate_sentence():
    sentence = f"The {random.choice(adjectives)} {random.choice(nouns)} {random.choice(verbs)}."
    return sentence

# Generate and print multiple random sentences
def generate_sentences(num_sentences):
    for _ in range(num_sentences):
        sentence = generate_sentence()
        print(sentence)

# Generate 5 random sentences
generate_sentences(15)

The happy cat jumps.
The happy house runs.
The happy dog sleeps.
The big cat jumps.
The happy cat jumps.
The big dog drives.
The big house jumps.
The fast car drives.
The red car jumps.
The happy car sleeps.
The happy dog runs.
The big dog sleeps.
The fast dog sleeps.
The fast car jumps.
The fast car jumps.

In [7]:
["EVEN" if x%2 == 0 else 'ODD' for x in range(1,11) ]

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

In [8]:
# Using list comprehensive
L = [5,23,15,30,45,60,10,35,70]
[n**2 for n in L]

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [9]:
# Using list comprehensive and lambda
L = [5,23,15,30,45,60,10,35,70]
sqr = lambda list1 :[n**2 for n in list1]
sqr(L)

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [10]:
# Using lambda
L = [5,23,15,30,45,60,10,35,70]

list(map(lambda x:x**2 ,L))

[25, 529, 225, 900, 2025, 3600, 100, 1225, 4900]

In [11]:
# Using list comprehensive with condition
L = [5,23,15,30,45,60,10,35,70]
[n**2 for n in L if n%2 == 0]

[900, 3600, 100, 4900]

In [12]:
# Using list comprehensive and lambda with condition
L = [5,23,15,30,45,60,10,35,70]
sqr = lambda list1 :[n**2 for n in list1 if n%2 == 0]
sqr(L)

[900, 3600, 100, 4900]

In [14]:
# Using lambda with condition
L = [5,23,15,30,45,60,10,35,70]

list(filter(lambda x: x%2 == 0 ,L))

[30, 60, 10, 70]

In [15]:
import pandas as pd

data1 = {'ID': [1, 2, 3, 4],
         'Value1': ['A', 'B', 'C', 'D']}
df1 = pd.DataFrame(data1)

data2 = {'ID': [2, 3, 5, 6],
         'Value2': ['X', 'Y', 'Z', 'W']}
df2 = pd.DataFrame(data2)

In [16]:
concatenated = pd.concat([df1, df2], axis=0)
print(concatenated)

   ID Value1 Value2
0   1      A    NaN
1   2      B    NaN
2   3      C    NaN
3   4      D    NaN
0   2    NaN      X
1   3    NaN      Y
2   5    NaN      Z
3   6    NaN      W

In [17]:
concatenated = pd.concat([df1, df2], axis=1)
print(concatenated)

   ID Value1  ID Value2
0   1      A   2      X
1   2      B   3      Y
2   3      C   5      Z
3   4      D   6      W

In [2]:
import pandas as pd

# Create a DataFrame with your text
data = {'text': ['I am sachin wandre submitServiceOrder']}
df = pd.DataFrame(data)

# Define a function to insert spaces before uppercase letters (CamelCase to Camel Case)
def add_space_before_uppercase(text):
    result = ""
    for char in text:
        if char.isupper():
            result += " " + char
        else:
            result += char
    return result

# Apply the function to the 'text' column
df['text'] = df['text'].apply(add_space_before_uppercase)

# Display the updated DataFrame
print(df['text'])

0     I am sachin wandre submit Service Order
Name: text, dtype: object

In [3]:
import pandas as pd

# Create the first data frame
data1 = {'text': ['I am Sachin Wandre from Pune']}
df1 = pd.DataFrame(data1)

# Create the second data frame
data2 = {'text': ['He is Sachin Wandre Hinjewadi']}
df2 = pd.DataFrame(data2)

# Split the text into words and convert them to sets
df1['words'] = df1['text'].str.split().apply(set)
df2['words'] = df2['text'].str.split().apply(set)

# Find the common words
common_words = set.intersection(*df1['words'].tolist() + df2['words'].tolist())

# Create a new data frame with the common words
common_words_df = pd.DataFrame({'common_words': list(common_words)})

# Display the new data frame
print(common_words_df)

  common_words
0       Sachin
1       Wandre

In [5]:
import pandas as pd
import re

# Create a sample dataframe
data = {'text': ['This is a sample text with <p>sachinWandre</p> and <div>AshwiniWandre</div>',
                 'Another example with <span>JohnDoe</span> and <a href="#">JaneSmith</a>']}
df = pd.DataFrame(data)

# Define a function to extract camelCase and PascalCase names within HTML tags
def extract_names_within_tags(text):
    # Use regular expressions to find camelCase and PascalCase names within HTML tags
    names = re.findall(r'<[^>]*>|\b[A-Z][a-z]+(?:[A-Z][a-z]+)*\b|\b[a-z]+(?:[A-Z][a-z]+)*\b', text)
    
    # Filter out HTML tags
    names = [name for name in names if not name.startswith('<') and not name.endswith('>')]
    
    return names

# Apply the function to the 'text' column
df['extracted_names'] = df['text'].apply(extract_names_within_tags)

# Display the resulting dataframe
print(df['extracted_names'])

0    [This, is, a, sample, text, with, sachinWandre...
1    [Another, example, with, JohnDoe, and, JaneSmith]
Name: extracted_names, dtype: object

In [ ]:
data = {'text': ['https://pythontutor.com/santoshWandrerender.html#mode=edit  This is a sample text with <p>sachinWandre</p> and <div>AshwiniWandre</div>',
                 'Another example with <span>JohnDoe</span> and <a href="#">JaneSmith</a>']}

In [1]:
list1 = []
dict1 = {}
tuple1 = ()
print(type(list1))
print(type(dict1))
print(type(tuple1))

<class 'list'>
<class 'dict'>
<class 'tuple'>

In [2]:
set1 = set()
print(type(set1))

<class 'set'>

In [3]:
t = (1)
print(type(t))

<class 'int'>

In [4]:
t = (1,)
print(type(t))

<class 'tuple'>