In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_squared_error
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Read data frame from csv file
data_frame = pd.read_csv("D:/14_Data Scientist/Datasets/House Data_Pune.csv")
data_frame

,area_type,location,Society,size,Baths,total_sqft,price,availability,Unnamed: 8,Unnamed: 9
0,Super Built-up Area,Bavdhan,Satyam Shrey,2 bhk,2.0,640,55.96,Under construction,NaN,NaN
1,Built-up Area,Sus,Kiran Sanskriti,2 bhk,2.0,690-720,45.00,Under construction,NaN,NaN
2,Built-up Area,Tathawade,Vivanta,2 bhk,2.0,688-693,60.00,Under construction,NaN,NaN
3,Super Built-up Area,Koregaon Park,Sunit Anant,3 bhk,3.0,1659,210.00,Ready to move,NaN,NaN
4,Built-up Area,Sinhgad Road,Nanded city,3 bhk,3.0,1450,78.00,Ready to move,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1624,NaN,Sinhgad Road,NaN,2 bhk,2.0,1175,73.50,NaN,NaN,NaN
1625,NaN,Koregaon Park,NaN,2 bhk,2.0,1425,80.00,NaN,NaN,NaN
1626,NaN,Swargate,NaN,1 bhk,1.0,1200,20.00,NaN,NaN,NaN
1627,NaN,Karve Nagar,NaN,3 bhk,3.0,1200,56.12,NaN,NaN,NaN
1628,NaN,Karve Nagar,NaN,2 bhk,2.0,1255,67.00,NaN,NaN,NaN

In [3]:
data_frame.head(10)

,area_type,location,Society,size,Baths,total_sqft,price,availability,Unnamed: 8,Unnamed: 9
0,Super Built-up Area,Bavdhan,Satyam Shrey,2 bhk,2.0,640,55.96,Under construction,NaN,NaN
1,Built-up Area,Sus,Kiran Sanskriti,2 bhk,2.0,690-720,45.00,Under construction,NaN,NaN
2,Built-up Area,Tathawade,Vivanta,2 bhk,2.0,688-693,60.00,Under construction,NaN,NaN
3,Super Built-up Area,Koregaon Park,Sunit Anant,3 bhk,3.0,1659,210.00,Ready to move,NaN,NaN
4,Built-up Area,Sinhgad Road,Nanded city,3 bhk,3.0,1450,78.00,Ready to move,NaN,NaN
5,Super Built-up Area,Koregaon Park,New Akshaya,2 bhk,2.0,1300,100.00,Ready to move,NaN,NaN
6,Super Built-up Area,Bibwewadi,Sukhsagar Nagar,2 bhk,2.0,850-950,50.00,Ready to move,NaN,NaN
7,Super Built-up Area,Koregaon Park,Tulip,2 bhk,2.0,1080,95.00,Ready to move,NaN,NaN
8,Built-up Area,Dhankawadi,Ganga Altus,3 bhk,3.0,850-950,87.50,Under construction,NaN,NaN
9,Built-up Area,Dhankawadi,Ganga Altus,2 bhk,2.0,650-750,67.50,Under construction,NaN,NaN

In [4]:
data_frame.columns

Index(['area_type', 'location', 'Society', 'size', 'Baths', 'total_sqft',
       'price', 'availability', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [5]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     647 non-null    object
 1   location      1629 non-null   object
 2   Society       302 non-null    object
 3   size          1626 non-null   object
 4   Baths         1616 non-null   float64
 5   total_sqft    1628 non-null   object
 6   price         1629 non-null   float64
 7   availability  629 non-null    object
 8   Unnamed: 8    0 non-null      float64
 9   Unnamed: 9    1 non-null      object
dtypes: float64(3), object(7)
memory usage: 127.4+ KB

In [6]:
# Need to remove Unnamed columns from data frame so we can use drop method or as selected below

# Taking required columns only 

data_frame = data_frame[['area_type', 'location', 'size', 'Baths', 'total_sqft','price', 'availability']]
data_frame.head(3)

,area_type,location,size,Baths,total_sqft,price,availability
0,Super Built-up Area,Bavdhan,2 bhk,2.0,640,55.96,Under construction
1,Built-up Area,Sus,2 bhk,2.0,690-720,45.00,Under construction
2,Built-up Area,Tathawade,2 bhk,2.0,688-693,60.00,Under construction

In [7]:
data_frame.describe()

             Baths        price
count  1616.000000  1629.000000
mean      2.529703   107.008677
std       1.277230   135.486900
min       1.000000    11.000000
25%       2.000000    47.600000
50%       2.000000    70.000000
75%       3.000000   115.000000
max      11.000000  2200.000000

In [8]:
data_frame.area_type.unique()

array(['Super Built-up Area', 'Built-up Area', 'Plot Area', nan,
       'Carpet Area', 'Built-up area', 'Villa', 'Built-up  Area',
       'Super built-up  Area', 'Plot  Area'], dtype=object)

In [9]:
data_frame.area_type.value_counts()

Super built-up  Area    193
Built-up Area           175
Super Built-up Area     152
Built-up  Area           56
Plot  Area               42
Plot Area                21
Built-up area             4
Carpet Area               3
Villa                     1
Name: area_type, dtype: int64

In [10]:
data_frame['area_type'] = data_frame['area_type'].replace(['Plot  Area'],['Plot Area'])
data_frame['area_type'] = data_frame['area_type'].replace(['Super built-up  Area'],['Super Built-up Area'])
data_frame['area_type'] = data_frame['area_type'].replace(['Built-up area'],['Built-up Area'])
data_frame['area_type'] = data_frame['area_type'].replace(['Built-up  Area'],['Built-up Area'])

In [11]:
data_frame.area_type.value_counts()

Super Built-up Area    345
Built-up Area          235
Plot Area               63
Carpet Area              3
Villa                    1
Name: area_type, dtype: int64

In [12]:
data_frame.area_type.value_counts().to_dict()

{'Super Built-up Area': 345,
 'Built-up Area': 235,
 'Plot Area': 63,
 'Carpet Area': 3,
 'Villa': 1}

In [13]:
data_frame.corr()

         Baths    price
Baths  1.00000  0.53599
price  0.53599  1.00000

In [14]:
data_frame['size'].value_counts()

2 bhk     666
3 bhk     514
1 bhk     184
4 bhk     152
5 bhk      35
6 bhk      32
8 bhk      14
7 bhk      12
1 RK        6
9 bhk       4
1 Rk        2
10 bhk      1
3           1
1 rk        1
1  bhk      1
11 bhk      1
Name: size, dtype: int64

In [15]:
data_frame['size'].isna().sum()

3

In [16]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     647 non-null    object
 1   location      1629 non-null   object
 2   size          1626 non-null   object
 3   Baths         1616 non-null   float64
 4   total_sqft    1628 non-null   object
 5   price         1629 non-null   float64
 6   availability  629 non-null    object
dtypes: float64(2), object(5)
memory usage: 89.2+ KB

In [17]:
data_frame.dropna(inplace=True)

In [18]:
data_frame.shape

(623, 7)

In [19]:
data_frame['area_type'].isna().sum()

0

In [20]:
#data_frame['Society'].isna().sum()

In [21]:
data_frame['availability'].isna().sum()

0

In [22]:
data_frame['size'].value_counts().to_dict()

{'2 bhk': 238,
 '3 bhk': 162,
 '1 bhk': 133,
 '4 bhk': 47,
 '5 bhk': 12,
 '6 bhk': 12,
 '8 bhk': 6,
 '7 bhk': 4,
 '1 RK': 3,
 '1 Rk': 2,
 '10 bhk': 1,
 '3': 1,
 '1 rk': 1,
 '1  bhk': 1}

In [23]:
import re

In [24]:
type(data_frame['size'][0])

str

In [25]:
def remove_bhk(input_string):
    output_string = re.sub(r'\s\w+', '', input_string)
    return output_string

In [26]:
data_frame['size'] =data_frame['size'].astype('str')

In [27]:
data_frame['size'] = data_frame['size'].apply(remove_bhk)

In [28]:
data_frame['size'][44]

'1'

In [29]:
data_frame['size'] =data_frame['size'].fillna(method ='ffill')

In [30]:
data_frame['size'].isna().sum()

0

In [31]:
data_frame['size'].value_counts()

2     238
3     163
1     139
4      47
5      12
6      12
8       6
7       4
10      1
1       1
Name: size, dtype: int64

In [32]:
data_frame['size'].value_counts().to_dict()

{'2': 238,
 '3': 163,
 '1': 139,
 '4': 47,
 '5': 12,
 '6': 12,
 '8': 6,
 '7': 4,
 '10': 1,
 '1 ': 1}

In [33]:
data_frame['size'] = data_frame['size'].replace(['nan'],['2'])

In [34]:
data_frame['size'] = data_frame['size'].astype('int')

In [35]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 629
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     623 non-null    object
 1   location      623 non-null    object
 2   size          623 non-null    int32
 3   Baths         623 non-null    float64
 4   total_sqft    623 non-null    object
 5   price         623 non-null    float64
 6   availability  623 non-null    object
dtypes: float64(2), int32(1), object(4)
memory usage: 52.7+ KB

In [36]:
data_frame['total_sqft'] =data_frame['total_sqft'].astype('str')

In [37]:
type(data_frame['total_sqft'][100])

str

In [38]:
x = '627.1-200'
type(x)

str

In [39]:
x = x.split('-')
x

['627.1', '200']

In [40]:
def literal_price(x):
    m = 0
    a = x.split('-')
    for i in a:
        m = float(i)+m
        
        
    
    return m//2

In [41]:
data_frame['total_sqft'] =data_frame['total_sqft'].apply(literal_price)

In [42]:
data_frame['total_sqft']

0       320.0
1       705.0
2       690.0
3       829.0
4       725.0
        ...
625    1200.0
626     826.0
627     550.0
628    1170.0
629     542.0
Name: total_sqft, Length: 623, dtype: float64

In [43]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 629
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     623 non-null    object
 1   location      623 non-null    object
 2   size          623 non-null    int32
 3   Baths         623 non-null    float64
 4   total_sqft    623 non-null    float64
 5   price         623 non-null    float64
 6   availability  623 non-null    object
dtypes: float64(3), int32(1), object(3)
memory usage: 52.7+ KB

In [44]:
data_frame.columns

Index(['area_type', 'location', 'size', 'Baths', 'total_sqft', 'price',
       'availability'],
      dtype='object')

In [45]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 629
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     623 non-null    object
 1   location      623 non-null    object
 2   size          623 non-null    int32
 3   Baths         623 non-null    float64
 4   total_sqft    623 non-null    float64
 5   price         623 non-null    float64
 6   availability  623 non-null    object
dtypes: float64(3), int32(1), object(3)
memory usage: 52.7+ KB

In [46]:
data_frame.columns

Index(['area_type', 'location', 'size', 'Baths', 'total_sqft', 'price',
       'availability'],
      dtype='object')

In [47]:
data_frame = data_frame[['area_type', 'location', 'size', 'Baths', 'total_sqft',
       'price', 'availability']]

In [48]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 629
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     623 non-null    object
 1   location      623 non-null    object
 2   size          623 non-null    int32
 3   Baths         623 non-null    float64
 4   total_sqft    623 non-null    float64
 5   price         623 non-null    float64
 6   availability  623 non-null    object
dtypes: float64(3), int32(1), object(3)
memory usage: 52.7+ KB

In [49]:
# data_frame_Bib= data_frame[data_frame['location']=='Bibwewadi']

In [50]:
# data_frame_Bib.area_type.value_counts()

In [51]:
data_frame.area_type.value_counts()

Super Built-up Area    329
Built-up Area          230
Plot Area               60
Carpet Area              3
Villa                    1
Name: area_type, dtype: int64

In [52]:
data_frame['availability'] = data_frame['availability'].replace(['Ready to move'],['Ready To Move'])
data_frame['availability'] = data_frame['availability'].replace(['Ready to Move'],['Ready To Move'])

In [53]:
data_frame['availability'] = np.where(data_frame['availability'].isin(['No_info_available','Ready To Move','Under construction','Immediate Possession'])
                                      ,data_frame['availability']
                                     ,'Under construction')

In [54]:
data_frame['availability'].value_counts().to_dict()

{'Ready To Move': 496, 'Under construction': 127}

In [55]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# data_frame = pd.DataFrame(scaler.fit_transform(data_frame),columns=data_frame.columns)
# data_frame

In [56]:
from sklearn.preprocessing import OneHotEncoder

OHE_area_type = OneHotEncoder(sparse=False)

OHE_area_type_df = OHE_area_type.fit_transform(data_frame['area_type'].values.reshape(-1,1))

OHE_area_type_df = pd.DataFrame(OHE_area_type_df,columns=OHE_area_type.categories_,index=data_frame.index)

#OHE_area_type_df

In [57]:
OHE_location = OneHotEncoder(sparse=False)
OHE_location_df = OHE_location.fit_transform(data_frame['location'].values.reshape(-1,1))
OHE_location_df = pd.DataFrame(OHE_location_df,columns=OHE_location.categories_,index=data_frame.index)
OHE_location_df

,Amanora town,Baner,Bavdhan,Bibwewadi,Dhankawadi,Hadapsar,Hinjewadi,Kanchan Nagari,Karve Nagar,Katraj,...,Padmavati,Samarth Nagar,Shivaji Nagar,Shivraj Nagar,Sinhgad Road,Sus,Tathawade,Vighnaharta Nagar,Vitthal nagar,Wakad
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
626,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
629,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
OHE_availability = OneHotEncoder(sparse=False)
OHE_availability_df = OHE_availability.fit_transform(data_frame['availability'].values.reshape(-1,1))
OHE_availability_df = pd.DataFrame(OHE_availability_df,columns=OHE_availability.categories_,index=data_frame.index)
OHE_availability_df

    Ready To Move Under construction
0             0.0                1.0
1             0.0                1.0
2             0.0                1.0
3             1.0                0.0
4             1.0                0.0
..            ...                ...
625           1.0                0.0
626           1.0                0.0
627           1.0                0.0
628           1.0                0.0
629           0.0                1.0

[623 rows x 2 columns]

In [59]:
final_df = pd.concat([data_frame,OHE_area_type_df,OHE_availability_df,OHE_location_df],axis=1)
final_df.drop(['area_type','availability','location'],axis=1,inplace=True)
final_df

,size,Baths,total_sqft,price,"(Built-up Area,)","(Carpet Area,)","(Plot Area,)","(Super Built-up Area,)","(Villa,)","(Ready To Move,)",...,"(Padmavati,)","(Samarth Nagar,)","(Shivaji Nagar,)","(Shivraj Nagar,)","(Sinhgad Road,)","(Sus,)","(Tathawade,)","(Vighnaharta Nagar,)","(Vitthal nagar,)","(Wakad,)"
0,2,2.0,320.0,55.96,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,2.0,705.0,45.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2.0,690.0,60.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,3.0,829.0,210.00,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,3.0,725.0,78.00,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,3,2.0,1200.0,360.00,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
626,3,3.0,826.0,110.00,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
627,2,2.0,550.0,52.00,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628,4,4.0,1170.0,145.00,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
629,2,2.0,542.0,179.00,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
print(type(OHE_area_type_df))
print(type(OHE_location_df))
print(type(OHE_availability_df))
print(type(data_frame))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [61]:
x = final_df.drop('price',axis=1)
y = final_df['price']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [62]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# data_frame = pd.DataFrame(scaler.fit_transform(data_frame),columns=data_frame.columns)
# data_frame

In [63]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [64]:
# Trainig evaluation

training_pred = lr.predict(x_train)
error = mean_squared_error(y_train,training_pred)

r2score = r2_score(y_train,training_pred)

print('Mean_square_error---',error)
print("R2score---",r2score)

Mean_square_error--- 5085.22405440171
R2score--- 0.7494787760671524

In [65]:
# Test evaluation

test_pred = lr.predict(x_test)
error = mean_squared_error(y_test,test_pred)

r2score = r2_score(y_test,test_pred)

print('Mean_square_error---',error)
print("R2score---",r2score)

Mean_square_error--- 4918.713130552259
R2score--- 0.39713280796662764