append()	Adds an element at the end of the list
extend()	Add the elements of a list (or any iterable), to the end of the current list
insert()	Adds an element at the specified position

pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
clear()	Removes all the elements from the list and list become empty
del

len()
min()
max()
sum()
sorted()

reverse()	Reverses the order of the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
index()	Returns the index of the first element with the specified value
sort()	Sorts the list

In [1]:
# Empty list
List = []
List

[]

In [2]:
# Calling list constructor
List = list()
List

[]

In [3]:
# Calling list constructor
List = list("Pune")
List

['P', 'u', 'n', 'e']

In [4]:
List = list("123654789")
List

['1', '2', '3', '6', '5', '4', '7', '8', '9']

In [5]:
# Homogenious list
List = [1,2,3,4,5,6]
List

[1, 2, 3, 4, 5, 6]

In [6]:
# Heterogenious list
List = [1,"Sachin",True,12.34,'D']
List

[1, 'Sachin', True, 12.34, 'D']

In [7]:
# One list contain list item as another list
List = [1,2,3,4,[5,6]]
List

[1, 2, 3, 4, [5, 6]]

In [8]:
# 2D list
List = [[1,2],[3,4]]
List

[[1, 2], [3, 4]]

In [9]:
# 3D list
List = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]
List

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]

In [10]:
# 3D list

List = [[['A','B','C'],['D','E','F']],[['G','H','I'],['J','K','L']],[['M','N','O'],['P','Q','R']]]
List

[[['A', 'B', 'C'], ['D', 'E', 'F']],
 [['G', 'H', 'I'], ['J', 'K', 'L']],
 [['M', 'N', 'O'], ['P', 'Q', 'R']]]

In [11]:
# 3D list
List = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]],[[13,14,15],[16,17,18]]]
List

[[[1, 2, 3], [4, 5, 6]],
 [[7, 8, 9], [10, 11, 12]],
 [[13, 14, 15], [16, 17, 18]]]

In [12]:
l = [[[1,1,1],[2,2,2]],[[3,4,4],[5,5,5]],[[6,6,6],[7,7,7]]]
l

[[[1, 1, 1], [2, 2, 2]], [[3, 4, 4], [5, 5, 5]], [[6, 6, 6], [7, 7, 7]]]

In [13]:
m = [[[5,5,5],[6,6,6]],[[5,5,5],[4,4,4]],[[3,3,3],[1,1,1]]]
m

[[[5, 5, 5], [6, 6, 6]], [[5, 5, 5], [4, 4, 4]], [[3, 3, 3], [1, 1, 1]]]

In [14]:
# Assecing elements from list

List = [1,2,3,4,5,6,7]
print(List[0])

1

In [15]:
List[-1]

7

In [16]:
List[4]

5

In [17]:
List[2:5]

[3, 4, 5]

In [18]:
List[1:]

[2, 3, 4, 5, 6, 7]

In [19]:
List[:4]

[1, 2, 3, 4]

In [20]:
# 2D list
List = [[1,2],[3,4]]
List

[[1, 2], [3, 4]]

In [21]:
List[0]

[1, 2]

In [22]:
List[0][1]

2

In [23]:
List[1][0]

3

In [24]:
# 3D list
List = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]],[[13,14,15],[16,17,18]]]
List

[[[1, 2, 3], [4, 5, 6]],
 [[7, 8, 9], [10, 11, 12]],
 [[13, 14, 15], [16, 17, 18]]]

In [25]:
List[0]

[[1, 2, 3], [4, 5, 6]]

In [26]:
List[1]

[[7, 8, 9], [10, 11, 12]]

In [27]:
List[2]

[[13, 14, 15], [16, 17, 18]]

In [28]:
List[0][0]

[1, 2, 3]

In [29]:
List[0][0][0]

1

In [30]:
List[2][0][2]

15

In [31]:
# Add elements into list
List = [1,2,3,4,5]
List

[1, 2, 3, 4, 5]

In [32]:
List[3] = 555
List

[1, 2, 3, 555, 5]

In [33]:
List.insert(3,789)
List

[1, 2, 3, 789, 555, 5]

In [34]:
List[2] = 111
List

[1, 2, 111, 789, 555, 5]

In [35]:
List[-1] = 999
List

[1, 2, 111, 789, 555, 999]

In [36]:
List = [1,2,3,4,5,6,7]
List.append(8)
List

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
List.append(999)
List

[1, 2, 3, 4, 5, 6, 7, 8, 999]

In [38]:
List.append([22,33,44,55])
List

[1, 2, 3, 4, 5, 6, 7, 8, 999, [22, 33, 44, 55]]

In [39]:
List = ['A','B','C']
List.extend('D')
List

['A', 'B', 'C', 'D']

In [40]:
List.extend(['E','F','G','H'])
List

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [41]:
List = [11,22,33,44,55,66]
List.insert(0,99)
List

[99, 11, 22, 33, 44, 55, 66]

In [42]:
List.insert(4,777)
List

[99, 11, 22, 33, 777, 44, 55, 66]

In [43]:
List

[99, 11, 22, 33, 777, 44, 55, 66]

In [44]:
List.remove(33)
List

[99, 11, 22, 777, 44, 55, 66]

In [45]:
# ValueError: list.remove(x): x not in list
# List.remove(33)

In [46]:
List.pop()

66

In [47]:
List

[99, 11, 22, 777, 44, 55]

In [48]:
# IndexError: pop from empty list
# List = []
# List.pop()

In [49]:
List = [19,22,383,44,55,66]
List.reverse()
List

[66, 55, 44, 383, 22, 19]

In [50]:
# list.sort for permanent changes
List = [16,29,3,4,50,6]
List.sort()
List

[3, 4, 6, 16, 29, 50]

In [51]:
List = [11,22,33,44,55,66,5,3,2,1]
m = sorted(List,reverse=True)
print(m)
print(List)

[66, 55, 44, 33, 22, 11, 5, 3, 2, 1]
[11, 22, 33, 44, 55, 66, 5, 3, 2, 1]

In [52]:
List = [11,22,99,44,55,66]
List.sort()
List

[11, 22, 44, 55, 66, 99]

In [53]:
List1 = [11,22,33,44,55,66,5,3,2,1]
m1 = sorted(List1)
print(m1)
print(List1)

[1, 2, 3, 5, 11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 55, 66, 5, 3, 2, 1]

In [54]:
# sorted for temporary changes
List = [11,22,99,44,55,66]
sorted(List)

[11, 22, 44, 55, 66, 99]

In [55]:
List

[11, 22, 99, 44, 55, 66]

In [56]:
List.index(99)

2

In [57]:
l1 = List.copy()
l1

[11, 22, 99, 44, 55, 66]

In [58]:
l1.append(555)
l1

[11, 22, 99, 44, 55, 66, 555]

In [59]:
List

[11, 22, 99, 44, 55, 66]

In [60]:
l1.count(44)

1

In [61]:
l1.index(67)

ValueError: 67 is not in list

In [62]:
l1.clear()

In [63]:
l1

[]

In [64]:
List = [11,22,33,44,55,66,5,3,2,1]

del List[5]
List

[11, 22, 33, 44, 55, 5, 3, 2, 1]

In [65]:
del List[0:3]
List

[44, 55, 5, 3, 2, 1]

### Python Program to find the largest element in the list

In [ ]:
List = [11,66,55,44,88,66,123,453,232]
print("Largest element is given list = ",max(List))

In [66]:
List = [11,66,55,44,88,897,66,984,123,453,232]

max = List[0]

for number in List:
    if max < number:
        max = number
        
print(max)

984

### Python program to interchange first and last elements in a list

In [67]:
List = [4,6,7,3,11,88,99]
first = List[0]
last = List[-1]

List[0] = last
List[-1] = first
print("After interchange list become", List)

After interchange list become [99, 6, 7, 3, 11, 88, 4]

In [68]:
List = [14,6,7,3,11,88,77]

first = List.pop(0)
last = List.pop(-1)

List.insert(0,last)
List.append(first)

print("After Exchage list become = ",List)

After Exchage list become =  [77, 6, 7, 3, 11, 88, 14]

In [69]:
List = [14,6,7,3,11,88,77]
List[0],List[-1] = List[-1],List[0]
List

[77, 6, 7, 3, 11, 88, 14]

In [70]:
List = [11,6,7,3,11,88,77,99]
start, *middle, end = List
List = [end,*middle,start]
List

[99, 6, 7, 3, 11, 88, 77, 11]

### Python program to swap two elements in a list

In [71]:
List = [11,22,33,44,55,66,77,88,99]

print(f"Enter two number to swap from list {List}")

first = None
second = None

while first not in List:
    print("Enter the number from the list")
    first = int(input("Enter first number \t"))

while second not in List:
    print("Enter the number from the list")
    second = int(input("Enter second number \t"))
    
first_index = List.index(first)
second_index = List.index(second)

List[first_index] = second
List[second_index] = first

print("After exchange list become = ", List)

Enter two number to swap from list [11, 22, 33, 44, 55, 66, 77, 88, 99]
Enter the number from the list
Enter first number 	33
Enter the number from the list
Enter second number 	99
After exchange list become =  [11, 22, 99, 44, 55, 66, 77, 88, 33]

In [72]:
# Second method 
List = [11,22,33,44,55,66,77,88,99]

print(f"Enter two number to swap from list {List}")

first = None
second = None

while first not in List:
    print("Enter the number from the list")
    first = int(input("Enter first number \t"))

while second not in List:
    print("Enter the number from the list")
    second = int(input("Enter second number \t"))
    
first_index = List.index(first)
second_index = List.index(second)

List[first_index], List[second_index] = List[second_index],List[first_index]

print("After exchange list become = ", List)

Enter two number to swap from list [11, 22, 33, 44, 55, 66, 77, 88, 99]
Enter the number from the list
Enter first number 	66
Enter the number from the list
Enter second number 	77
After exchange list become =  [11, 22, 33, 44, 55, 77, 66, 88, 99]

In [73]:
# Third method
List = [11,22,33,44,55,66,77,88,99]

print(f"Enter two number to swap from list {List}")

first = None
second = None

while first not in List:
    print("Enter the number from the list")
    first = int(input("Enter first number \t"))

while second not in List:
    print("Enter the number from the list")
    second = int(input("Enter second number \t"))
    
first_index = List.index(first)
second_index = List.index(second)

List.pop(first_index)
List.pop(second_index)


List.insert(first_index,second)
List.insert(second_index,first)

print("After exchange list become = ", List)

Enter two number to swap from list [11, 22, 33, 44, 55, 66, 77, 88, 99]
Enter the number from the list
Enter first number 	44
Enter the number from the list
Enter second number 	44
After exchange list become =  [11, 22, 33, 44, 44, 66, 77, 88, 99]

### Python program to Reverse a List

In [74]:
List = [22,33,44,55,6,7,88,9,11]

print(f"Given list is {List} \n")
print(f"Reverse List is {List[::-1]}")

Given list is [22, 33, 44, 55, 6, 7, 88, 9, 11]

Reverse List is [11, 9, 88, 7, 6, 55, 44, 33, 22]

In [75]:
# Using loop
List = [22,33,44,55,6,7,88,9,11]
Temp_list = []

for i in range(len(List)-1,-1,-1):
    Temp_list.append(List[i])
    
print("Reverse List = ",Temp_list)

Reverse List =  [11, 9, 88, 7, 6, 55, 44, 33, 22]

In [76]:
# Using reverse method
List = [22,33,44,55,6,7,88,9,11]
List.reverse()
List

[11, 9, 88, 7, 6, 55, 44, 33, 22]

In [77]:
# Using insert method
# input list
lst = [10, 11, 12, 13, 14, 15]
# the above input can also be given as
# lst=list(map(int,input().split()))
l = []  # empty list
 
# iterate to reverse the list
for i in lst:
    # reversing the list
    l.insert(0, i)
# printing result
print(l)

[15, 14, 13, 12, 11, 10]

In [1]:
def reverse_list(lst):
    # Use two pointers: one from the start and one from the end
    start_index = 0
    end_index = len(lst) - 1

    while start_index < end_index:
        # Swap elements at start_index and end_index
        lst[start_index], lst[end_index] = lst[end_index], lst[start_index]
        # Move pointers towards the center
        start_index += 1
        end_index -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

### Python program to count occurrences of an element in a list

In [78]:
List = [11,33,22,44,22,11,66,77,88,99,33,44,66,99,99,99,33,33,44,67]
Temp_list = []
for number in List:
    count = List.count(number)
    if number not in Temp_list:
        Temp_list.append(number)
        print(f"{number} is occured {count} times")

11 is occured 2 times
33 is occured 4 times
22 is occured 2 times
44 is occured 3 times
66 is occured 2 times
77 is occured 1 times
88 is occured 1 times
99 is occured 4 times
67 is occured 1 times

### Python program to find the sum of elements in a list

In [79]:
List = [22,33,44,55,6,7,88,9,11]
sum = 0

for number in List:
    sum += number

print("Sum of numbers in list =",sum)

Sum of numbers in list = 275

### Python program to Multiply all numbers in the list

In [80]:
List = [1,2,3,4,5,6]
multiplication = 1

for number in List:
    multiplication = multiplication * number
    
print("Multiplication of numbers in list = ",multiplication)

Multiplication of numbers in list =  720

### What are the ways to find the length of a list

In [81]:
List = [11,33,22,44,22,11,66,77,88,99,33,44,66,99,99,99,33,33,44,67]

print("Length of list is = ",len(List))

Length of list is =  20

In [82]:
List = [11,33,22,44,22,11,66,77,88,99,33,44,66,99,99,99,33,33,44,67]

count = 0

for n in List:
    count += 1
print("Length of list is = ",count)

Length of list is =  20

### Python program to find the smallest and largest number in a list (Without min-max function)

In [83]:
List = [44,55,33,22,11,76,87,101,67]

min = List[0] 

for number in List:
    
    if min > number:        
        min = number
print("Smallest number in list is = ",min)

Smallest number in list is =  11

In [84]:
List = [44,55,33,22,11,76,87,101,67]

max = List[0] 

for number in List:
    
    if max < number:        
        max = number
print("Largest number in list is = ",max)

Largest number in list is =  101

### Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

In [85]:
length = int(input("Enter the length of list"))
print(f"Enter the {length} element into the list")

List = []
for n in range(length):
    print(f"Enter {n} element")
    number = int(input())
    List.append(number)

print("Elements in list are",List)

print("Enter the number to search\t")
search_no = int(input())

if search_no not in List:
    print("Entered number is not in list")
else:
    List.remove(search_no)
    print("Searched number deleted successfully")
    print("After deletion list becomes = ",List)

Enter the length of list5
Enter the 5 element into the list
Enter 0 element
22
Enter 1 element
33
Enter 2 element
66
Enter 3 element
55
Enter 4 element
44
Elements in list are [22, 33, 66, 55, 44]
Enter the number to search
55
Searched number deleted successfully
After deletion list becomes =  [22, 33, 66, 44]

### Write a Python program to check whether a list contains a sublist

In [86]:
List = [1,2,3,4,[5,6]]
islist = False
for n in List:
    if type(n) == list:
        islist = True
        
if islist == True:
    print("List contains sublist")
else:
    print("List not contains sublist")

List contains sublist

In [87]:
list1 = [1,2,3,4,5,6]
# output [1,3,6,10,15,21]
temp_list = []
sum = 0 

for number in list1:
    sum = sum + number
    temp_list.append(sum)
    
print(temp_list)

[1, 3, 6, 10, 15, 21]

In [88]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# Write a program to add item 7000 after 6000 in the following Python List

for number in list1:
    print(number)
    #print(list1.index(number))
list1[2][2].append(7000)
list1

10
20
[300, 400, [5000, 6000], 500]
30
40

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [91]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
print(list1[2][0])
print(list1[2][1])
print(list1[2][2])
print(list1[2][3])
print(list1[2][2][0])
print(list1[2][2][1])

10
20
[300, 400, [5000, 6000], 500]
30
40
300
400
[5000, 6000]
500
5000
6000

In [92]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

#output [['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]

# zip(list1,list2)
# list(zip(list1,list2))

[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [93]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

#output [['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]

#zip(list1,list2)
list(zip(list1,list2))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [94]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

# output Jelly Belly-10
# Kit Kat-20
# Double Bubble-34
# Milky Way-74
# Three Musketeers-32

for (i,j) in zip(candy_list,no_of_items):
    print(i,'-',j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [95]:
# Say given list is [2,4,6,10,1] resultant list will be [22,20,16,10,23].

# For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

# For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

# like wise for all other elememts.

list1 = [2,4,6,10,1]

add_list = []

for number in list1:
    sum = 0
    for n in list1:
        if number <= n:
            sum += n
    add_list.append(sum)

print(add_list)

[22, 20, 16, 10, 23]

In [ ]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

# Find list of common unique items from two list. and show in increasing order

temp = []
for number in num1:
    if number in num2:
        temp.append(number)
        

temp.sort()
print(temp)

In [ ]:
list1 = [23,45,67,78,89,34]
list2 = [34,89,55,56,39,67]
[num for num in list1 if num in list2]

In [97]:
list1 = ['1ac21', '23fg', '456', '098d','1','kls']
#Output: ['456', '23fg', '1ac21', '1', 'kls', '098d']


new_list = []
for item in list1:
    product = 1
    for char in item:        
        if char.isdigit() == True:
            product = product * int(char)
    new_list.append(product)
print(new_list)
# zip 
#list(zip(new_list,list1))
#sorted
#sorted(list(zip(new_list,list1)),reverse=True)
#list comprehension
[i[1] for i in sorted(list(zip(new_list,list1)),reverse=True)]

[2, 6, 120, 0, 1, 1]

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [98]:
list1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
# output ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
output = []
for i in list1:
    output.extend(i.split(" "))
    
print(output)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [101]:
list1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

[" ".join(i) for i in list1]

" ".join(["".join(i) for i in list1])

'campux is best channel'

In [102]:
list1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

[" ".join(i) for i in list1]

#" ".join(["".join(i) for i in list1])

['c a m p u x', 'i s', 'b e s t', 'c h a n n e l']