In [1]:
## Print 1 to 10 numbers

for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [2]:
[n for n in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
## Print the number which are divisible by 5

[n for n in range(1,25) if n % 5 == 0]

[5, 10, 15, 20]

In [4]:
## Print the number which are divisible by 5 and 7
[n for n in range(1,12) if n%5 == 0  if n % 7 == 0]

[]

In [5]:
## Print the number which are divisible by 5 and 7
[n for n in range(1,12) if n%5 == 0  and n % 7 == 0]

[]

In [6]:
## Print the number which are divisible by 5 or 7
[n for n in range(1,12) if n%5 == 0 or n % 7 == 0]

[5, 7, 10]

In [7]:
List = [2,3,4,5,6,7,8,9]
[n*n for n in List]

[4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
List = [2,3,4,5,6,7,8,9]
[n*3 for n in List]

[6, 9, 12, 15, 18, 21, 24, 27]

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[fruit for fruit in fruits if fruit.startswith('b')]

['banana']

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x.startswith("a")]

print(newlist)

['apple']

In [12]:
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [13]:
basket = ["apple",'guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana','guava']

[fruit for fruit in my_fruits if fruit in basket if fruit.endswith("a")]

['banana', 'guava']

In [14]:
l1 = [1,2,3,4,5]
l2 = [5,3,4,8]

[x*y for x in l1 for y in l2]

[5, 3, 4, 8, 10, 6, 8, 16, 15, 9, 12, 24, 20, 12, 16, 32, 25, 15, 20, 40]

In [15]:
# Print 2X2 matrix using list comprehension

[[i*j for i in range(1,4)] for j in range(1,5)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12]]

In [16]:
basket = ["apple",'guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana','guava']

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [17]:
for fruit in my_fruits:
    if fruit in basket:
        if fruit.startswith('a'):
            print(fruit)

apple

In [18]:
[[i+j for i in range(1,8)]for j in range(1,4)]

[[2, 3, 4, 5, 6, 7, 8], [3, 4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9, 10]]

In [19]:
#[[i+j # outer loop #]# inner loop #]

In [20]:
[i*i for i in [3,5,6,7,8,9]]

[9, 25, 36, 49, 64, 81]

In [21]:
# List comprehension example with if-else loop
numbers = range(1, 11)  # Consider numbers from 1 to 10

result = [x**2 if x % 2 == 0 else x**3 for x in numbers]

print(result)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [22]:
[n**2 if n%2==0 else n**3 for n in numbers]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [1]:
[[(i*j)for i in range(1,5)]for j in range(1,4)]

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12]]