In [1]:
s = "Hello"
print(s)

Hello

In [2]:
s = 'Hello'
print(s)

Hello

In [3]:
s = '''Hello How
are you?'''

print(s)

Hello How
are you?

In [4]:
s = "It's raining at night"
print(s)

It's raining at night

In [5]:
# s = 'It's raining at night'
# print(s)

# Cell In[5], line 1
#     s = 'It's raining at night'
#             ^
# SyntaxError: invalid syntax

In [6]:
# s = "It"s raining at night"
# print(s)

#  Cell In[57], line 1
#     s = "It"s raining at night"
#             ^
# SyntaxError: invalid syntax

In [7]:
S = "sachin 'wandre' pune"
S

"sachin 'wandre' pune"

In [8]:
S = 'Sachin "Wandre" 45'
S

'Sachin "Wandre" 45'

### 1. Common Functions

In [9]:
len
max
min
sorted

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

len()
max()
min()
sorted()
upper()
lower()
isupper()
islower()
capitalize()
title()
swapcase()
endswith()
startwith()
isalnum()
isalpha()
isdigit()
isdecimal()
isnumeric()
split()
join()
find()
index()
count()

In [10]:
string = "I am living in pune"
string[0]

'I'

In [11]:
# string[start_index:end_index:steps]
# when steps is positive then start_index is less than end index
# when step is negative then start_index is greater than end index

In [12]:
string[0:5]

'I am '

In [13]:
string[11:17:2]

' np'

In [14]:
string[-1]

'e'

In [15]:
string[::]

'I am living in pune'

In [16]:
string[::-1]

'enup ni gnivil ma I'

In [17]:
string[-1:-6:2] # when steps is positive then start_index is less than end index

''

In [18]:
string = "Hello World"

In [19]:
string[8:1:-1]

'roW oll'

In [20]:
string[8:1:1] ## when steps is positive then start_index is less than end index

''

In [21]:
string[8:1:-1]

'roW oll'

In [22]:
string[1:8:-1]

''

In [23]:
string[1:8:1]

'ello Wo'

In [24]:
string[-1:-10:-1]

'dlroW oll'

In [25]:
string[1:10:1]

'ello Worl'

In [26]:
string[1:10]

'ello Worl'

In [27]:
string[:]

'Hello World'

In [28]:
string[:9]

'Hello Wor'

In [29]:
string[6:]

'World'

In [30]:
string[-5:]

'World'

In [31]:
string[-5::-1]

'W olleH'

In [32]:
string[-6::-1]

' olleH'

In [33]:
str1 = "Hello World"

In [34]:
str1[2:5:1]

'llo'

In [35]:
str1[4:10:2]

'oWr'

In [36]:
str1[4:10:-1]

''

In [37]:
str1[-4:10:-1]

''

In [38]:
str1[-4:-10:-1]

'oW oll'

In [39]:
str1[4:10:-1]

''

In [40]:
str1[::]

'Hello World'

In [41]:
str1[1:10]

'ello Worl'

In [42]:
str1[3:10:1]

'lo Worl'

In [43]:
str1[-3:-10:-1]

'roW oll'

In [44]:
str1[-10:-3:1]

'ello Wo'

In [45]:
str1[-10:-1:1]

'ello Worl'

In [46]:
str1[-10:-1:1]

'ello Worl'

In [47]:
str1[10:1:-1]

'dlroW oll'

In [48]:
str1[10:1:1]

''

In [49]:
str1[1:10:1]

'ello Worl'

In [50]:
str1[1:10:-1]

''

In [51]:
s = "I am Data Scientist"

len(s)

19

In [52]:
max(s)

't'

In [53]:
min(s)

' '

In [54]:
# Sorted using ASCII value
sorted(s,reverse=True)

['t',
 't',
 't',
 's',
 'n',
 'm',
 'i',
 'i',
 'e',
 'c',
 'a',
 'a',
 'a',
 'S',
 'I',
 'D',
 ' ',
 ' ',
 ' ']

### 2.Capitalize/Title/Upper/Lower/Swapcase

In [55]:
s = "i am data scientist"
s.capitalize()

'I am data scientist'

In [56]:
s = "i am data scientist"
s.title()

'I Am Data Scientist'

In [57]:
s = "i am data scientist"
s.upper()

'I AM DATA SCIENTIST'

In [58]:
s = "i am DATA sciENtist"
s.lower()

'i am data scientist'

In [59]:
s = "i am DaTa SCienTist"
s.swapcase()

'I AM dAtA scIENtIST'

### 3. count/find/index

In [60]:
s = "I am Data Scientist"
s.count("u")

0

In [61]:
s = "I am Data Scientist"
s.count("t")

3

In [62]:
s = "I am Data Scientist"
s.count("a")

3

In [63]:
s = "I am Data Scientist"
s.find("a")

2

In [64]:
s = "I am Data Scientist"
s.find("Scie")

10

In [65]:
# if not found then return -1
s = "I am Data Scientist"
s.find("x")

-1

In [66]:
s = "I am Data Scientist"
s.index("a")

2

In [67]:
s = "I am Data Scientist"
s.index("Scientist")

10

In [68]:
# ValueError: substring not found
# if not found then throw an exception
# s = "I am Data Scientist"
# s.index("x")

### 4.  endswith/startswith

In [69]:
s = "I am Data Scientist"
s.endswith("st")

True

In [70]:
s = "I am Data Scientist"
s.endswith("est")

False

In [71]:
s = "I am Data Scientist"
s.startswith("I")

True

In [72]:
s = "I am Data Scientist"
s.startswith("I am Data")

True

### 5. format

In [73]:
s = "My name is {} and I am {} "
s.format("Sachin","Data Scientist")

'My name is Sachin and I am Data Scientist '

In [74]:
s = "My Name is {} and I am {} years old"
s.format("Sachin",34)

'My Name is Sachin and I am 34 years old'

In [75]:
s = "I am {name} and I am {age} years old, and I am {designation}"
s.format(name="Sachin",age=34,designation= "Data Scientist")

'I am Sachin and I am 34 years old, and I am Data Scientist'

In [76]:
s = "My Name is {1} and I am {0} years old"
s.format("Sachin",34)

'My Name is 34 and I am Sachin years old'

### 6. isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier

### isalpha()

Python String isalpha() method is used to check whether all characters in the String is an alphabet.

In [77]:
s = "Sachin"
s.isalpha()

True

In [78]:
# Space not allowed

s = "Sachin Wandre"
s.isalpha()

False

In [79]:
# Number not allowed
s = "Sachin123"
s.isalpha()

False

In [80]:
# Special character not allowed
s = "Sachin!@#$"
s.isalpha()

False

### isalnum()

Python String isalnum() method checks whether all the characters in a given string are either alphabet or numeric (alphanumeric) characters.

In [81]:
s = "Sachin"
s.isalnum()

True

In [82]:
# Space Not allowed
s = "Sachin Wandre"
s.isalnum()

False

In [83]:
# Digits are allowed
s = "Sachin123"
s.isalnum()

True

In [84]:
# Special character not allowed
s = "Sachin@#"
s.isalnum()

False

### isdecimal()

Python String isdecimal() function returns true if all characters in a string are decimal, else it returns False.

In [85]:
# Character not allowed
s = "Sachin"
s.isdecimal()

False

In [86]:
s = "123"
s.isdecimal()

True

In [87]:
# Space not allowed
s = "123 456"
s.isdecimal()

False

In [88]:
# String not allowed
s =" Sachin123"
s.isdecimal()

False

### isdigit()

Python String isdigit() method returns “True” if all characters in the string are digits, Otherwise, It returns “False”.

In [89]:
s = "Sachin"
s.isdigit()

False

In [90]:
s = "123"
s.isdigit()

True

In [91]:
s = "Sachin123"
s.isdigit()

False

In [92]:
s = "123 456"
s.isdigit()

False

Difference between isdigit() and isdecimal()

In [93]:
expr = "4²"
print("expr isdigit()?", expr.isdigit()) 
print("expr isdecimal()?", expr.isdecimal())
print("expr isnumeric()?", expr.isnumeric())

expr isdigit()? True
expr isdecimal()? False
expr isnumeric()? True

Difference between isnumeric() and isdecimal()

In [94]:
expr = "⅔"
print("expr isdigit()?", expr.isdigit())  
print("expr isnumeric()?", expr.isnumeric())  
print("expr isdecimal()?", expr.isdecimal())

expr isdigit()? False
expr isnumeric()? True
expr isdecimal()? False

In [95]:
# Is 42 a decimal or digit or numeric number?
print('42'.isdecimal())        # Prints True
print('42'.isdigit())          # Prints True
print('42'.isnumeric())        # Prints True

True
True
True

In [96]:
# Is ² (Superscript Two) a decimal or digit or numeric number?
print('\u00b2'.isdecimal())    # Prints False
print('\u00b2'.isdigit())      # Prints True
print('\u00b2'.isnumeric())    # Prints True

False
True
True

In [97]:
# Is ⅓ (Vulgar Fraction One Third) a decimal or digit or numeric number?
print('\u2153'.isdecimal())    # Prints False
print('\u2153'.isdigit())      # Prints False
print('\u2153'.isnumeric())    # Prints True

False
False
True

In [98]:
# isnumeric() > isdigit() > isdecimal()

### 7. Split

In [99]:
# Convert string into list

In [100]:
s ="I Love my INDIA"
s.split()

['I', 'Love', 'my', 'INDIA']

In [101]:
s ="I Love my INDIA"
s.split("Love")

['I ', ' my INDIA']

In [102]:
s ="I Love my INDIA"
s.split("my")

['I Love ', ' INDIA']

In [103]:
s = "who is the pm of india"
temp = s.split()
temp

['who', 'is', 'the', 'pm', 'of', 'india']

### 8. Join

In [104]:
# Convert list into string
" ".join(temp)

'who is the pm of india'

In [105]:
"$$$".join(temp)

'who$$$is$$$the$$$pm$$$of$$$india'

In [106]:
"-".join(temp)

'who-is-the-pm-of-india'

### 9. Replace

In [107]:
s = "I am Sachin"
s.replace("Sachin","Wandre")

'I am Wandre'

In [108]:
s ="I Love India"
s.replace("India","Hindustan")

'I Love Hindustan'

In [109]:
s

'I Love India'

### 10. Strip

In [110]:
# Remove left and right spaces
# Used while regstration form to remove unessecarry spaces
name = "         Sachin   Wandre               Mangaon             "
name.strip()

'Sachin   Wandre               Mangaon'

In [111]:
# If you want to remove all unneccessary spaces 
name = "         Sachin   Wandre               Mangaon             "
name_without_spaces = " ".join(name.split())
print(name_without_spaces)

Sachin Wandre Mangaon

In [112]:
# If you want to remove all unneccessary spaces 
name = "         Sachin   Wandre               Mangaon             "
" ".join(name.split())

'Sachin Wandre Mangaon'

### Write a program to print every character of a string entered by the user in a new line using a loop

In [113]:
name = " Sachin Narayan Wandre"

for char in name:
    print(char)

S
a
c
h
i
n

N
a
r
a
y
a
n

W
a
n
d
r
e

### Write a program to find the length of the string "machine learning" with and without using len function.

In [114]:
string = "machine learning"
count = 0
for s in string:
    count += 1
print("Length of givent string is",count)
print("Using len function",len(string))

Length of givent string is 16
Using len function 16

### Write a program to check if the word 'orange' is present in the "This is orange juice

In [115]:
string = "This is orange juice"

if string.find("orange") > -1:
    print("Orange word found")
else:
    print("Orange word not found")

Orange word found

In [116]:
string = "This is orange juice"
if "orange" in string.split():
    print("Present")
else:
    print("not present")

Present

In [117]:
string = "This is orange juice"
if "orange" in string:
    print("Present")
else:
    print("not present")

Present

### Write a program to find the number of vowels, consonants, digits, and white space characters in a string.

In [118]:
string = "Sachin Narayan Wandre 9975217677 @#*&)(*)"

vowels = 0
consonants = 0
digits = 0
space = 0

for s in string:
    
    if s == "a" or s == 'e' or s =='i' or s == 'o' or  s == 'u':
        vowels += 1
    elif s == " ":
        space += 1
    elif s.isdigit() == True:
        digits += 1
    else:
        consonants += 1

print("Total vowels=",vowels)
print("Total consonants=",consonants)
print("Total space =",space)
print("Total digits =",digits)

Total vowels= 7
Total consonants= 20
Total space = 4
Total digits = 10

In [119]:
def count_characters(string):
    vowels = 0
    consonants = 0
    digits = 0
    spaces = 0
    special_chars = 0

    # Converting the string to lowercase for easier comparison
    string = string.lower()

    for char in string:
        # Check if character is a vowel
        if char in "aeiou":
            vowels += 1
        # Check if character is a consonant
        elif char.isalpha():
            consonants += 1
        # Check if character is a digit
        elif char.isdigit():
            digits += 1
        # Check if character is a whitespace
        elif char.isspace():
            spaces += 1
        else:
            special_chars += 1

    return vowels, consonants, digits, spaces, special_chars

# Input string
input_string = "Sachin Narayan Wandre 9975217677 @#*&)(*)"

# Counting characters
vowels, consonants, digits, spaces, special_chars = count_characters(input_string)

print("Number of vowels:", vowels)
print("Number of consonants:", consonants)
print("Number of digits:", digits)
print("Number of white spaces:", spaces)
print("Number of special characters:", special_chars)

Number of vowels: 7
Number of consonants: 12
Number of digits: 10
Number of white spaces: 4
Number of special characters: 8

In [120]:
string = "Sachin Narayan Wandre 9975217677 @#*&)(*)"

vowels = 0
consonants = 0
digits = 0
space = 0
vowels_list = ['a','e','i','o','u']

for s in string:
    
    if s in vowels_list:
        vowels += 1
    elif s == " ":
        space += 1
    elif s.isdigit() == True:
        digits += 1
    else:
        consonants += 1

print("Total vowels=",vowels)
print("Total consonants=",consonants)
print("Total space =",space)
print("Total digits =",digits)

Total vowels= 7
Total consonants= 20
Total space = 4
Total digits = 10

### Write a Python program to count Uppercase, Lowercase, special character,and numeric values in a given string.

In [121]:
string = "Sachin Narayan Wandre 9975217677 @#*&)(*)"
upper = 0
lower = 0
special_char = 0
numeric = 0

for s in string:
    if s.isupper() == True:
        upper += 1
    elif s.islower() == True:
        lower += 1
    elif s.isdigit() == True:
        numeric += 1
    else:
        special_char += 1

        
print("Total Upper",upper)
print("Total Lower",lower)
print("Total Special",special_char)
print("Total numeric",numeric)

Total Upper 3
Total Lower 16
Total Special 12
Total numeric 10

In [122]:
string = "Sachin Narayan Wandre 9975217677 @#*&)(*)"
upper = 0
lower = 0
special_char = 0
numeric = 0

for s in string:
    if s.isupper():
        upper += 1
    elif s.islower():
        lower += 1
    elif s.isdigit():
        numeric += 1
    else:
        special_char += 1

        
print("Total Upper",upper)
print("Total Lower",lower)
print("Total Special",special_char)
print("Total numeric",numeric)

Total Upper 3
Total Lower 16
Total Special 12
Total numeric 10

### Write a program to make a new string with all the consonants deleted from the string "Hello, have a good day".

In [123]:
string = "Hello, have a good day"

new_str = ""

for s in string:
    if s == "a" or s=="e" or s =="i" or s =="o" or s=="u":
        new_str = new_str + s
        
print(new_str)

eoaeaooa

In [124]:
string = "Hello, have a good day"
vowels_list = ['a','e','i','o','u']
new_str = ""

for s in string:
    if s in vowels_list:
        new_str = new_str + s
        
print(new_str)

eoaeaooa

In [125]:
string = "Hello, have a good day"
vowels_list = ['a','e','i','o','u']
new_str = ""

for s in string:
    if s not in vowels_list:
        new_str = new_str + s
        
print(new_str)

Hll, hv  gd dy

In [126]:
vowels = ['a','e','i','o','u']

list1 = [s for s in string if s in vowels]
list1

['e', 'o', 'a', 'e', 'a', 'o', 'o', 'a']

### Write a program to make a new string with all the owels deleted from the string "Hello, have a good day".

In [127]:
string = "Hello, have a good day"

new_str = ""

for s in string:
    if s in("aeiou"):
        continue
    else:
        new_str = new_str + s
        
print(new_str)

Hll, hv  gd dy

In [128]:
string = "Hello, have a good day"

new_str = ""

for s in string:
    if s in("aeiou"):
        continue
    
    new_str = new_str + s
        
print(new_str)

Hll, hv  gd dy

In [129]:
string = "Hello, have a good day"

new_str = ""

for s in string:
    if s not in("aeiou"):   
        new_str = new_str + s
        
print(new_str)

Hll, hv  gd dy

### Write a Python program to remove the nth index character from a non-empty string.

In [130]:
string = "I love my India and I am from Pune"
nth_index = int(input("Enter the index to which you want delete\t"))
new_str = " "
for s in string:
    if s != string[nth_index]:
        new_str = new_str + s
        
print(new_str)

Enter the index to which you want delete	13
 I love my Inda and I am from Pune

### Write a Python program to change a given string to a new string where the first and last characters have been exchanged.

In [131]:
string = "Sachin Wandre"

new_string = string[-1] + string[1:-1] + string[0]

print(new_string)
print(string)

eachin WandrS
Sachin Wandre

### Write a Python program to count the occurrences of each word in a given sentence.

In [132]:
string = "aabxbbcccxdddddeeex"

new_string = " "
list1 = []

for s in string:
    if s not in list1:
        list1.append(s)
        print(s,"Occured",string.count(s),"times")

print(list1)

a Occured 2 times
b Occured 3 times
x Occured 3 times
c Occured 3 times
d Occured 5 times
e Occured 3 times
['a', 'b', 'x', 'c', 'd', 'e']

### How do you count the occurrence of a given character in a string?

In [133]:
string = "I love my India and I am from Pune"
new_dict = {}

for s in string:
    new_dict.update({s:string.count(s)})

print(new_dict)

{'I': 3, ' ': 8, 'l': 1, 'o': 2, 'v': 1, 'e': 2, 'm': 3, 'y': 1, 'n': 3, 'd': 2, 'i': 1, 'a': 3, 'f': 1, 'r': 1, 'P': 1, 'u': 1}

### Write a program to find last 10 characters of a string?

In [134]:
string = " I love India and I living in Pune"

str_len = len(string)

start_index = str_len - 10;

print(string[start_index:])

ng in Pune

In [135]:
string = " I love India and I living in Pune"
new_str =  string[-1:-11:-1]
new_str[::-1]

'ng in Pune'

In [136]:
string = " I love India and I living in Pune"
string[-1:-11:-1][::-1]

'ng in Pune'

### WAP to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters.

In [137]:
# Wrong logic
string = "sAchin wandre MAngaon"

count = 0

for s in string:
    if s.isupper() == True:
        count += 1
        if count >= 2:  
            print(string.upper())
            break
else:
    print(string)

SACHIN WANDRE MANGAON

In [138]:
string = "sAcHIn wandre MAngaon"

count = 0
 
for i in range(0,4):
    if string[i].isupper() == True:
        count += 1
        if count >= 2:  
            print(string.upper())
            break
else:
    print(string)

SACHIN WANDRE MANGAON

In [139]:
string = "sAchIn wandre MAngaon"

count = 0
 
for i in range(0,4):
    if string[i].isupper():
        count += 1
        if count >= 2:  
            print(string.upper())
            break
else:
    print(string)

sAchIn wandre MAngaon

### Write a Python program to remove a newline in Python.

In [140]:
string = """Sachin
 Wandre 
 Mangaon"""

new_str = " "
for s in string:
    if s == "\n":
        continue
    else:
        new_str = new_str + s
print(new_str)

 Sachin Wandre  Mangaon

In [141]:
string = """Sachin
 Wandre
 Mangaon"""

# Replace newline characters with a space
new_string = string.replace('\n', ' ')

print(new_string)

Sachin  Wandre  Mangaon

### Write a Python program to find the first repeated character in a given string

In [142]:
def find_first_repeated_character(input_string):
    char_count = {}  # Dictionary to store character counts

    for char in input_string:
        if char in char_count:
            return char  # Found the first repeated character
        char_count[char] = 1

    return None  # No repeated character found

# Input string
input_string = "abcdefgch"

first_repeated = find_first_repeated_character(input_string)

if first_repeated:
    print(f"The first repeated character is: {first_repeated}")
else:
    print("No repeated character found")

The first repeated character is: c

In [143]:
input_string = "abcdefegch"
list1 = []
temp = ""
for s in input_string:
    list1.append(s)
    temp = s
    if list1.count(s) == 2:
        break
print(temp)

e

### Write a Python program to find the second most repeated word in a given string

In [144]:
from collections import Counter

def find_second_most_repeated_word(input_string):
    words = input_string.split()  # Split the input string into words
    word_count = Counter(words)    # Count the occurrences of each word

    # Sort words by their counts in descending order
    sorted_words = sorted(word_count, key=lambda word: (-word_count[word], word))

    if len(sorted_words) >= 2:
        return sorted_words[1]  # Return the second most repeated word
    else:
        return None  # Not enough unique words to find the second most repeated

# Input string
input_string = "apple banana apple  banana cherry banana "

second_most_repeated = find_second_most_repeated_word(input_string)

if second_most_repeated:
    print(f"The second most repeated word is: {second_most_repeated}")
else:
    print("Not enough unique words to find the second most repeated")

The second most repeated word is: apple

In [145]:
# By using dictionary

# Added into dictionary
input_string = "apple banana apple apple banana cherry banana apple"
new_dict = {}
for s in input_string.split():
    new_dict.update({s:input_string.split().count(s)})
print(new_dict)

# Sort the dictionary based on values
sort_dict_by_value = {}
for value in sorted(new_dict.values()):
    for key in new_dict:
        if new_dict[key] == value:
            sort_dict_by_value.update({key:value})

print(sort_dict_by_value)

# Find out the second key value pair
keys_list = list(sort_dict_by_value.keys())
values_list = list(sort_dict_by_value.values())

if len(keys_list) >= 2:
    second_key = keys_list[1]
    second_value = values_list[1]
    print(f"Second key: {second_key}, Second value: {second_value}")
else:
    print("The dictionary doesn't have enough key-value pairs.")

{'apple': 4, 'banana': 3, 'cherry': 1}
{'cherry': 1, 'banana': 3, 'apple': 4}
Second key: banana, Second value: 3

### Python program to Count Even and Odd numbers in a string

In [146]:
string = "996753433"
even = 0
odd = 0
for s in string:
    if s.isdigit() == True:
        if int(s) % 2 == 0:
            even += 1
        else:
            odd += 1
            
print("Total even numbers=",even)
print("Total odd numbers=",odd)

Total even numbers= 2
Total odd numbers= 7

### How do you check if a string contains only digits?

In [147]:
string = "996753433"
print(string.isdigit())
print(string.isnumeric())
print(string.isdecimal())

True
True
True

### How do you remove a given character/word from String?

In [148]:
string = " I am data scientist"
word = input("Enter string to remove")

if word in string:
    new_string = string.replace(word," ")
    print(new_string)
    
else:
    print("Entered word is not in string")

Enter string to removedata
 I am   scientist

### Write a Python program to remove the characters which have odd index values of a given string

In [149]:
string = "I am living in pune since 2015"

new_str = " "
for i in range(len(string)):
    if i % 2 == 0:
        new_str = new_str + string[i]
print(new_str)

 Ia iigi uesne21

In [150]:
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string('abcdefaaaaa'))
print(odd_values_string('python'))

aceaaa
pto

### Write a Python function to reverses a string if its length is a multiple of 5

In [151]:
string = "Sachi"

if len(string) % 5 == 0:
    print(string[::-1])

ihcaS

In [152]:
string = "Sachi"

new_str = " "
if len(string) % 5 == 0:
    for s in range(len(string)-1,-1,-1):
        new_str = new_str + string[s]
        
print(new_str)

 ihcaS

### Write a Python program to reverse words in a string

In [153]:
string = "I Love INDIA and I am Data scientist"

reverse = " "
new_str = " "
word = " "
s1 = string.split()
#print(s1[-1])
for s in string:
    if s != " ":
        word = word + s;
    else:       
        reverse = word[::-1]
        new_str = reverse + new_str
        word = " "
        #new_str = new_str + reverse
         
print(s1[-1][::-1] + " "+ new_str)

tsitneics ataD ma I dna AIDNI evoL I

In [154]:
string = "I Love INDIA and I am Data scientist"

list1 = []

list1 = string.split()

list1.reverse()
# print(list1)

reverse_string = " ".join(list1)
reverse_string

'scientist Data am I and INDIA Love I'

In [155]:
# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # apending reversed words to l
    l.append(i)
# printing reverse words
print(" ".join(l))

code practice quiz geeks

### Write a Python program to swap cases of a given string

In [156]:
string = "Sachin Wandre"
print(string.swapcase())

sACHIN wANDRE

### Write a Python program to remove spaces from a given string

In [157]:
string = " I Love     India          "
new_str = " "
for s in string:
    if s != " ":
        new_str += s
print(new_str)

 ILoveIndia

### Write a Python program to remove duplicate characters of a given string

In [158]:
string = " I am Sachin I am Data Scientist"

new_str = " "

for s in string:
    if s in new_str:
        continue
    else:
        new_str += s
print(new_str)

 IamSchinDtes

In [159]:
string = " I am Sachin I am Data Scientist"

new_str = []

for s in string:
    if s not in new_str:
        new_str.append(s)

print("".join(new_str))

 IamSchinDtes

### Find length of string without using string function

In [160]:
s = "I love india"
length = 0
for character in s:
    length += 1
print("length of string is",length)

length of string is 12

### Extract the username from email id

In [161]:
# Best way to solve
email =' sachinwandre@gmail.com'

index = email.index("@")

print("Username of the user is",email[0:index])

Username of the user is  sachinwandre

In [162]:
# Using loop
email =' sachinwandre99@gmail.com'
new_str = " "
for s in email:
    if s != '@':
        new_str = new_str + s
    else:
        break
print(new_str)

  sachinwandre99

### Count the frequency of each character in given string

In [163]:
s = "I love India india"
count = 0
char = input("Enter the character to find out count")
for i in s:
    if i == char:
        count += 1
print(f"character {char} is counted",count,"times")

Enter the character to find out counti
character i is counted 3 times

In [164]:
# Best way to solve the problem to find single character occurance/frequency
string = "I love India india"
char = input("Enter the character to find out count")
if char in string:
    count = string.count(char)
    print(f'Entered character {char} is occured {count} times in string')
else:
    print("Entered char not present in string")

Enter the character to find out countl
Entered character l is occured 1 times in string

In [165]:
s = "I love india india"
temp_list = []

for i in s:
    if i not in temp_list:
        temp_list.append(i)
        print(f"chracter {i} is counted",s.count(i),"times")

chracter I is counted 1 times
chracter   is counted 3 times
chracter l is counted 1 times
chracter o is counted 1 times
chracter v is counted 1 times
chracter e is counted 1 times
chracter i is counted 4 times
chracter n is counted 2 times
chracter d is counted 2 times
chracter a is counted 2 times

### Write a program which  remove particular character from string

In [166]:
s = input("Enter the string")
remove_char = input("Enter the char")
new_str = " "
for i in s:
    if i != remove_char:
        new_str = new_str + i
print("New string become",new_str)

Enter the stringData Scientist M
Enter the charM
New string become  Data Scientist

In [167]:
s = input("Enter the string")
remove_char = input("Enter the word")
new_list = s.split()

new_list.remove(remove_char)

print("After remove word string become")
" ".join(new_list)

Enter the stringI am living in pune
Enter the wordliving
After remove word string become

'I am in pune'

### Given string is palindrome or not

In [168]:
s = input("Enter the string")
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not palindrome")

Enter the stringsachin
Not palindrome

In [169]:
s = input("Enter the string")
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        flag = False
        break;        

if flag:
    print("palindrom")
else:
    print("Not Palindrome")

Enter the stringmalayalam
palindrom

In [170]:
s = 'malayalam'
print((s[1]))
print(s[len(s)-1-1])

a
a

### Convert the string to list without split

In [171]:
s = input("Enter the string")

temp = " "
list1 = []
for i in s:
    
    if i != " ":
        temp = temp + i
    else:
        list1.append(temp)
        temp = " "
        
list1.append(temp)        
print(list1)

Enter the stringsachin wandre
[' sachin', ' wandre']

In [172]:
string = "Happy New Year"

word = " "
list1 = []
for s in string:
    if s.isspace() == False:
        word = word + s
    else:
        list1.append(word)
        word = " "
list1.append(word) # if we are not writing this then "year" word cant be added into list so to add last word we need to write this
print(list1)

[' Happy', ' New', ' Year']

### Convert string to title without title function

In [173]:
s = input("Enter the string")

new_list = []
for word in s.split():
    new_word = word[0].upper() + word[1:].lower()
    new_list.append(new_word)
    
print(" ".join(new_list))

Enter the stringsachin wandre
Sachin Wandre

In [174]:
for i in range(0,6):
    for j in range(5-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [175]:
for i in range(0,6):
    for j in range(0,i+1):
        print("*",end=" ")
    print()
for i in range(0,6):
    for j in range(6,i+1,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [176]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [177]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [178]:
A = " apple banana mango"
B = "mango orange banana"

#A = "apple banana mango"
#B = "banana fruits mango"

L = []

for i in A.split():
    if i not in B and i not in L:
        L.append(i)
        
for j in B.split():
    if j not in A and j not in L:
        L.append(j)
        
        
print(L)

['apple', 'orange']

In [179]:
s = "Hello how are you? I am fine"
s.split()

['Hello', 'how', 'are', 'you?', 'I', 'am', 'fine']

In [180]:
str1 = """Hello how are you? 
I am fine
what about you?"""

In [181]:
str1.splitlines()

['Hello how are you? ', 'I am fine', 'what about you?']

In [182]:
s.split("are")

['Hello how ', ' you? I am fine']

In [183]:
# Partition contain partition world also
s.partition("are")

('Hello how ', 'are', ' you? I am fine')

In [184]:
s = "Hello\nhow\nare\nyou?\nI\nam\nfine\n"
s.splitlines()

['Hello', 'how', 'are', 'you?', 'I', 'am', 'fine']

In [185]:
s = "Hello\nhow\nare\nyou?\nI\nam\nfine\n\n\n\n\n\n"
s.splitlines()

['Hello', 'how', 'are', 'you?', 'I', 'am', 'fine', '', '', '', '', '']

In [186]:
for i in range(1,6):
    for j in range(i,6):
        print(j,end=" ")
    print("\n")

1 2 3 4 5

2 3 4 5

3 4 5

4 5

5

In [187]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [188]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [189]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("\n")

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1