Rules for Python variables:
	A variable name must start with a letter or the underscore character
	A variable name cannot start with a number
	A variable name can only contain alpha-numeric characters and underscores (A-Z,a-z,0-9, and _ )
	Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
a = 10
a

10

In [2]:
# Error - invalid decimal literal
99guru = 800
99guru

SyntaxError: invalid decimal literal (2375251882.py, line 2)

In [3]:
_99 = 100
_99

100

In [4]:
__99 = 100
__99

100

In [5]:
_99Sachin = 400
_99Sachin

400

In [6]:
sachin$ = 'Hello'
sachin$

SyntaxError: invalid syntax (763711585.py, line 1)

In [7]:
number = 10
print(number)

10

In [8]:
name = "Sachin"
print(name)

Sachin

In [9]:
name = 100
print(name)

100

In [10]:
name = 89.88
print(name)

89.88

In [11]:
a=10;b=20;c=30
print(a,b,c)

10 20 30

In [12]:
a,b,c = 100, 200, 300
print(a,b,c)

100 200 300

In [13]:
a,b,c = "Sachin", 100, 34
print(a,b,c)

Sachin 100 34

In [14]:
a = b = c = "Pune"
print(a,b,c)

Pune Pune Pune

In [15]:
# Dynamic Typing --> PHP, Python
# Static typing --> C CPP Java