Rules for Python variables:
	A variable name must start with a letter or the underscore character
	A variable name cannot start with a number
	A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
	Variable names are case-sensitive (age, Age and AGE are three different variables)

In [2]:
a = 10
a

10

In [3]:
99guru = 800
99guru

SyntaxError: invalid syntax (Temp/ipykernel_10824/1863843252.py, line 1)

In [4]:
__99 = 100
__99

100

In [ ]:
sachin$ =

In [ ]:
number = 10
print(number)

In [3]:
name = "Sachin"
print(name)

Sachin

In [4]:
name = 100
print(name)

100

In [5]:
name = 89.88
print(name)

89.88

In [6]:
a=10;b=20;c=30
print(a,b,c)

10 20 30

In [7]:
a,b,c = 100, 200, 300
print(a,b,c)

100 200 300

In [8]:
a,b,c = "Sachin", 100, 34
print(a,b,c)

Sachin 100 34

In [9]:
a = b = c = "Pune"
print(a,b,c)

Pune Pune Pune

In [ ]:
# Dynamic Typing --> PHP, Python
# Static typing --> C CPP Java