In [2]:
number = 10
print(number)

10

In [3]:
name = "Sachin"
print(name)

Sachin

In [4]:
name = 100
print(name)

100

In [5]:
name = 89.88
print(name)

89.88

In [6]:
a=10;b=20;c=30
print(a,b,c)

10 20 30

In [7]:
a,b,c = 100, 200, 300
print(a,b,c)

100 200 300

In [8]:
a,b,c = "Sachin", 100, 34
print(a,b,c)

Sachin 100 34

In [9]:
a = b = c = "Pune"
print(a,b,c)

Pune Pune Pune

In [ ]:
# Dynamic Typing --> PHP, Python
# Static typing --> C CPP Java