# 1. Write a python program to check that a string contains only a certain set of characters (in this case a-z, A-Z, and 0-9).

In [68]:
import re

# 2. Create a program to split a string by only the first occurrence of any substring.

In [73]:
data = 'ash ashu sach'
text = re.split('\s',data)
print(text)

['ash', 'ashu', 'sach']

In [ ]:
data = 'ash ashu sach'
text = re.split('hu',data)
print(text)

# 3. Code that would match a string that has an a followed by zero or more b's.

In [12]:
string = 'ashb asbb as ashwini abbb bab 1224 &$%^$'
data = re.findall(r'[a-z]+',string)

print(data)

['ashb', 'asbb', 'as', 'ashwini', 'abbb', 'bab']

# 4. Wap to find Three-digit numbers followed by space followed by two-digit numbers in a string.

In [100]:
data = '234 23 ash is 234 67 .... sach 677-45'
text = re.findall(r'\d{3}\s\d{2}',data)
print(text)

['234 23', '234 67']

# 5. Write a Python program that matches a string that has an a followed by one or more b's.

In [13]:
string = 'ashb asbb as ashwini abbb bab 1224 &$%^$'
data = re.findall(r'[a-z]+b+\b',string)
print(data)

['ashb', 'asbb', 'abbb', 'bab']

# 6. Write a program to search inform in a string both in uppercase & in lowercase. (INFORM or inform)

In [101]:
data = 'I ash inform you that  I will INFORM you tomarrow'
text = re.findall('inform|INFORM',data)
print(text)

['inform', 'INFORM']

# 7. WAP that matches a string that has an a followed by zero or one 'b'. .

In [19]:
string = 'a cb afbbb zabbb 123 ba b bbbba bbaab ash'
data = re.findall(r'[a-zA-Z]+\bb{0,1}',string)
# ^a(b*)$
print(data) #

['a', 'cb', 'afbbb', 'zabbb', 'ba', 'b', 'bbbba', 'bbaab', 'ash']

# 8. WAP that matches a string that has an a followed by three 'b'. .

In [105]:
string = 'a ab afbbb aabbb ba b bbbba bbaab'
data = re.findall(r'[a-z]{1,50}[b]{3}',string)
print(data)

['afbbb', 'aabbb', 'bbbb']

 # 9. Write a Python program that matches a string that has an a followed by two to three 'b'.

In [21]:
string = 'a ab afbbb aabbb ba b bbbba bbaab babb'
data = re.findall(r'[a-z]{1,50}[b]{2,3}',string)

print(data)

['afbbb', 'aabbb', 'bbbb', 'babb']

# 10.Find all the words starting in range of k-n using a for loop & re.

In [5]:
import re
string = 'ram sach klmn kl kn mn ash'
list1 = string.split()

# for i in list1:
#     if re.findall(r'string = 'ram sach klmn kl kn mn ash'
list1 = string.split()

for i in list1:
    if re.findall(r'\b[k-n]+\b',i):
        print(i)

klmn
kl
kn
mn

In [110]:
string = 'ram sach klmn kl kn mn ash'
list1 = string.split()

pattern = re.compile(r'\b[k-n]+\b')
for i in list1:
    text = pattern.findall(i)
    print(text)

[]
[]
['klmn']
['kl']
['kn']
['mn']
[]

# 11. Write a Python program to find sequences of lowercase letters joined with an underscore.

In [113]:
data = 'ash_sach krish_swara rohini suraj'
text = re.findall(r'[a-z]+[_][a-z]+',data)
print(text)

['ash_sach', 'krish_swara']

In [ ]:
# 12.Write a program to find the sequences of one upper case letter followed by lower case letters.

In [123]:
data = 'ASHsach Krish_swara Rohini suraj'
text = re.findall(r'[A-Z]{1}[\w]+',data)
print(text)

['ASHsach', 'Krish_swara', 'Rohini']

# 13.Write a program that matches a string that has an 'a' followed by anything, ending in 'b'.

In [125]:
data = 'asdfb aaab ab ssdfs sdfssd sdfss'
text = re.findall(r'\ba\w*b\b',data)
print(text)

['asdfb', 'aaab', 'ab']

#  14.WAP that matches a word at the beginning of a string.

In [133]:
data = 'asdfb aaa ashwini'
text = re.findall(r'\b(ash\w+)',data)
print(text)

['ashwini']

# 15.Write a program that matches a word at the end of a string, with optional punctuation.

In [146]:
data = 'ashwini rohini sachin yogini'
text = re.findall(r'([\w]+ini\b)',data)
print(text)

['ashwini', 'rohini', 'yogini']

# 16.Write a Python program that matches a word containing 'z'.

In [154]:
data = 'xyz pzy zerox zara maza ashwini '
text = re.findall(r'\w+z+\w+|z+\w+|\w+z+',data)
print(text)

['xyz', 'pzy', 'zerox', 'zara', 'maza']

In [ ]:
# 17.Write a program that matches a word containing 'z', not at the start or end of the word.

In [155]:
data = 'xyz pzy zerox zara maza ashwini '
text = re.findall(r'\w+z+\w+',data)
print(text)

['pzy', 'maza']

In [ ]:
# 18.Write a program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [159]:
data = 'xyz pzy zerox zara ma#za# ashwini ASH 123 _ASfhu'
text = re.findall(r'\w+',data)
print(text)

['xyz', 'pzy', 'zerox', 'zara', 'ma', 'za', 'ashwini', 'ASH', '123', '_ASfhu']

In [ ]:
# 19.WAP where a string will start with a specific number.

In [160]:
data = '7709362248 99767233 3224234234 ,23423423 92323432 90'
text = re.findall(r'\b9\d+',data)
print(text)

['99767233', '92323432', '90']

In [ ]:
20.Write a Python program to remove leading zeros from an IP address.

In [161]:
data = '255.255.255.255 000.234.234.453.'
text = re.sub(r'0',"",data)
print(text)

255.255.255.255 .234.234.453.

In [ ]:
# 21.Write a program to check for a number at the end of a string. .

In [58]:
data = "Exercises number 1, 12, 13, and 345 are important23"
text = re.findall(r'\w+\d+',data)
print(text)

['12', '13', '345', 'important23']

In [ ]:
# 22.Code a program to search the numbers (0-9) of length between 1 to 3 in a given string.

In [57]:
data = "Exercises number 1, 12, 13, and 345 are important"
text = re.finditer('[0-9\s]+',data)

for i in text:
        print(i.group())

 1
 12
 13

 345

In [ ]:
# 23.Write a program to search some literals strings in a string. . Sample text : 'The quick brown fox jumps over the lazy dog.' 
 # Searched words : 'fox', 'dog', 'horse'

In [52]:
Sample_text = 'The quick brown fox jumps over the lazy dog.' 
Searched_words = 'fox'

data = re.search(r'fox|dog|horse',Sample_text)
print(data)

print('present at .', data.group())

print('present at .', data.start())

<re.Match object; span=(16, 19), match='fox'>
present at . fox
present at . 16

In [53]:
Sample_text = 'The quick brown fox jumps over the lazy dog.' 
Searched_words = 'fox'

data = re.finditer(r'fox|dog|horse',Sample_text)
print(data)

for i in data:
    print('present at .', i.group())
    print('present at .', i.start())

<callable_iterator object at 0x000001941F778340>
present at . fox
present at . 16
present at . dog
present at . 40

In [ ]:
# '24.Write a Python program to search a literals string in a string and also find the location within the
#  original string where the pattern occurs. .

In [49]:
Sample_text = 'The quick brown fox jumps over the lazy dog.' 
Searched_words = 'fox'

data = re.search(Searched_words,Sample_text)
print(data)

print('present at .', data.group())

print('present at .', data.start())

<re.Match object; span=(16, 19), match='fox'>
present at . fox
present at . 16

In [45]:
#25.Write a code to find a common substrings within a string.

In [42]:
Sample_text ='Python exercises, PHP exercises, C# exercises' 
Pattern ='exercises' 
 
data = re.findall(r'exercises',Sample_text)
print(data)

data1 = re.findall(r'exercises',Pattern)
print(data1)

if len(set(data).intersection(set(data1)))  >= 1:
    print('have common elements  ',(set(data).intersection(set(data1))))

['exercises', 'exercises', 'exercises']
['exercises']
have common elements   {'exercises'}

In [ ]:
# 26.Write a program to find the occurrence and position of the substrings within a string. .

In [27]:
string = 'hi   i am   __ i ashwini i  _pawar'
data = re.finditer('i',string)

print(data)

for i in data:
    print(f'data is at   ... {i.start()}....{i.group()}')

<callable_iterator object at 0x000001941F8F73D0>
data is at   ... 1....i
data is at   ... 5....i
data is at   ... 15....i
data is at   ... 21....i
data is at   ... 23....i
data is at   ... 25....i

In [33]:
string = 'hi   i am   __ i ashwini i  _pawar'
data = re.search('i',string)

print(data.group())
print(data.start())
print(data)

i
1
<re.Match object; span=(1, 2), match='i'>

In [23]:
# 27.Write a code to replace whitespaces with an underscore and vice versa. .

In [4]:
string = 'hi   i am   __ ashwini _pawar'

data=re.sub(r'[\s_]+',"",string)
print(data)

hiiamashwinipawar

In [3]:
string = 'hi   i am   __ ashwini _pawar'

data=re.sub(r'[\s+]','_',string)
print(data)

hi___i_am______ashwini__pawar

## 28.How would you remove all whitespaces from a string?

In [1]:
import re


string = 'hi   i am    ashwini pawar'

data=re.sub(r'\s+',"",string)
print(data)

hiiamashwinipawar

## 29.Write a Python program to match if two words from a list of words starting with the letter 'P'

In [2]:
data = ['pawar','ash','patil']

for word in data:
    matched = re.match(r'[p]\w+',word)
    if matched:
        print(matched.group())

pawar
patil

## 30.Write a code to find all words starting with 'a' or 'e' in a given string. .

In [ ]:
text = 'ash 1 eam 4 sach3 77 89,home e'
data = re.findall(r'[ae]\w+',text)             #[ae]\w.....alphanumeric   
print(data)

###  31.Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
text = 'ash 1 sam 4 sach3 77 89,home'

data = re.search(r'\d+',text)
text = data.group()

print('number is ', text)
print(f'digit is found at {data.start()} th place.')

In [ ]:
text = 'ash 1 sam 4 sach3 77 89,home'

for i in re.finditer(r'\d+',text):
 
    
    text = i.group()
    print('number is ', i.group())
    print()
    
    print(f'digit is found at {i.start()} th place.')

## 32.Write a Python program to replace all occurrences of space, comma, or dot with a colon.

In [ ]:
import re
string = '''hey I am love. to be ,     Data      Scientist.    I like Environmental Data scoetist     Field'''
text = re.sub(r'[\s,.]+',':',string)
print(text)

# 33.Write a program to replace maximum 2 occurrences of space, comma, or dot with a colon.

In [ ]:
import re
string = '''hey I am love. to be ,     Data      Scientist.    I like Environmental Data scoetist     Field'''
text = re.sub(r'[\s,.]{2,}',':',string)
print(text)

# 34.Write a Python program to find all three, four, five characters long words in a string.

In [ ]:
data = 'hey I am love to be Data Scientist. I like Environmental Data scoetist Field'

data1 = re.findall('[a-zA-Z]{3,}',data)    #{3,.....}
print(data1)

# 35.Write a program to extract values between quotation marks of a string.

In [ ]:
data = '"ash","sach","kishu"'
output = re.findall(r'"(.*?)"',data)      # remember .*?
print(output)

# . any char except new line
# * zero or more
# ? matches exact 0 or 1 char

#  ' " (.*?) " '

# 36.How would you remove multiple spaces in a string.

In [ ]:
import re
string = '''hey I am love to be      Data      Scientist.    I like Environmental Data scoetist     Field'''
text = re.sub(r'\s+',' ',string)
print(text)

In [ ]:
 # differnecc ein match and search

The re.search() and re.match() both are functions of re module in python. These functions are very efficient and fast for searching in strings. The function searches for some substring in a string and returns a match object if found, else it returns none.

There is a difference between the use of both functions. Both return the first match of a substring found in the string, but re.match() searches only from the beginning of the string and return match object if found. But if a match of substring is found somewhere in the middle of the string, it returns none. 
While re.search() searches for the whole string even if the string contains multi-lines and tries to find a match of the substring in all the lines of string

In [59]:
data = 'data science'
text = re.match('data',data)
print(text)

<re.Match object; span=(0, 4), match='data'>

In [60]:
data = 'data science'
text = re.match('science',data)
print(text)

None

In [61]:
data = 'data science'
text = re.search('data',data)
print(text)

<re.Match object; span=(0, 4), match='data'>

In [62]:
data = 'data science'
text = re.search('science',data)
print(text)

<re.Match object; span=(5, 12), match='science'>

In [63]:
data = 'data science'
text = re.match('ence',data)
print(text)

None

In [64]:
data = 'data science'
text = re.search('ence',data)
print(text)

<re.Match object; span=(8, 12), match='ence'>

In [65]:
data = 'data science'
text = re.match('ta',data)
print(text)

None

In [66]:
data = 'data science'
text = re.match('da',data)
print(text)

<re.Match object; span=(0, 2), match='da'>

In [67]:
data = 'data science'
text = re.match('ata',data)
print(text)

None